$__primarycolor:#0D233E;
$__secondarycolor:#374B5C;
$__themeColor:#C10037;
$__white:#ffffff;
$__success:#27c24c;
$__info:#009efb;
$__warning:#ffbc34;
$__danger:#f05050;	
$__formcontrol__border: #E3E3E3;
$__loginBG: #F9FAFC;
$__tablehover: #eeeeee;
$__plan: #28283C;
$__placeholder: #B7B7B7;
$__menuTitle: #7F7F7F;
$__menuIcon: #9C9C9C;
$__searchbarTop: #F1F1F1;
$__bodyBG: #F9FAFC;
$__filterborder: #E3E3E3;
$__select2border: #EDF1F1;
$__thead: #F7F7F7;
$__tstripe: #f8f9fa;
$__mandatory: #FC1313;
$__remove: #FF4949;
$__desc:#666666;
$__gray:#AAAAAA;
$__black:#000000;
$__inputgroup:#F2F2F2;
$__roleinfo:#8B8B8B;
$__toggleoff:#C8C8C8;
$__load:#4C82F7;
$__green:#22C55E;
$__box:#C4C4C4;
$__square:#FBFBFF;



.primary {
	background-color:$__primarycolor;
}
.secondary {
	background-color:$__secondarycolor;
}