.progress-xs {
	height: 4px;
}
.progress-sm {
	height: 15px;
}
.progress.progress-sm {
	height: 6px;
}
.progress.progress-md {
	height: 8px;
}
.progress.progress-lg {
	height: 18px;
}
.row.row-sm {
	margin-left: -3px;
	margin-right: -3px;
	>div {
		padding-left: 3px;
		padding-right: 3px;
	}
}
.swal2-title {
	font-size: $__font__size__22 !important;
	font-weight: $__medium;
}
.swal2-content {
	font-size: $__body__font__size !important;
	color: $__secondarycolor !important;
}
.swal2-styled.swal2-confirm {
	font-size: $__body__font__size !important;
}
