{% extends 'base.html' %}

{% load static %}
{% block title %}
<title>Adjeem Landing Page</title>
{% endblock %}


{% block content %}
{% comment %} Top header {% endcomment %}
<div class="text-center py-2">
                <img src="{% static 'assets/img/icons/logo.png' %}" class="img-fluid"
          alt="Adjeem Classified"
        />
</div>

{% comment %} Welcome section {% endcomment %}

<div style="">
<div style="position: relative; width: 100%; height: 20rem;">
  <img style="width: 100%; height: 100%; object-fit: cover;" src="{% static 'assets/img/landing_header.jpeg' %}" alt="Landing Header">
  
  <!-- Overlay -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(189, 34, 48, 0.7); display: flex; justify-content: center;flex-direction:column; align-items: center;">
    <h3 style="font-weight:500;color: white;width:50%;text-align:center; font-size: 2rem;">Welcome to the thriving online classifields and job platform in the UAE</h3>
    <p style="color:white;">Which Category would you like to explore?</p>

    <div style="position:absolute;top:15rem;display:flex;">
      <div style="margin-right:20px;text-align:center;color:black;background-color:white;border-radius:10%;padding-top:25px;padding-bottom:25px;padding-right:50px;padding-left:50px;">
        <p style="font-weight:600;text-align:center;color:#4a4a4a;">adjeem <br />jobs</p>
      </div>
<div style="margin-right:20px;text-align:center;color:black;background-color:white;border-radius:10%;padding-top:25px;padding-bottom:25px;padding-right:50px;padding-left:50px;">
        <p style="font-weight:600;text-align:center;color:#4a4a4a;">adjeem <br />Vechiles</p>
      </div>
<div style="margin-right:20px;text-align:center;color:black;background-color:white;border-radius:10%;padding-top:25px;padding-bottom:26px;padding-right:50px;padding-left:50px;">
        <p style="font-weight:600;text-align:center;color:#4a4a4a;">adjeem <br />properties</p>
      </div>
<div style="margin-right:20px;text-align:center;color:black;background-color:white;border-radius:10%;padding-top:25px;padding-bottom:25px;padding-right:50px;padding-left:50px;">
        <p style="font-weight:600;text-align:center;color:#4a4a4a;">adjeem <br />Local Classified</p>
      </div>
    </div>


    <div style="position:absolute;top:22rem;display:flex;">
      <div style="border:1px solid #e6e6e6; margin-right:20px;text-align:center;color:black;background-color:white;border-radius:10%;padding-top:25px;padding-bottom:25px;padding-right:30px;padding-left:30px;">
        <p style="font-weight:600;text-align:center;color:#4a4a4a;">adjeem <br />electronics</p>
      </div>
<div style="border:1px solid #e6e6e6; margin-right:20px;text-align:center;color:black;background-color:white;border-radius:10%;padding-top:5px;padding-bottom:5px;padding-right:20px;padding-left:20px;">
  <p style="font-weight:600;text-align:center;color:#4a4a4a;">adjeem <br />mobile phones <br /> & tablet</p>
      </div>
<div style="border:1px solid #e6e6e6; margin-right:20px;text-align:center;color:black;background-color:white;border-radius:10%;padding-top:25px;padding-bottom:26px;padding-right:10px;padding-left:10px;">
        <p style="font-weight:600;text-align:center;color:#4a4a4a;">adjeem <br />business directory</p>
      </div>
<div style="border:1px solid #e6e6e6; margin-right:20px;text-align:center;color:black;background-color:white;border-radius:10%;padding-top:25px;padding-bottom:25px;padding-right:50px;padding-left:50px;">
        <p style="font-weight:600;text-align:center;color:#4a4a4a;">adjeem <br />other categories</p>
      </div>

    </div>


  </div>
</div>
{% comment %} End header section {% endcomment %}
{% comment %} Browse all categories section {% endcomment %}
<div style="margin-top:10rem;margin-bottom:2rem;background-color:white" class=" container">
  <h2>Browse All Categories</h2>
  <div style="max-height:500px;display:flex;flex-direction:column;" class="flex-wrap">
  {% for category in categories %}
  <h4 style="margin-top:20px;">{{ category.category_name }}</h4>
                  {% if category.subcategories.all %}
      <ul>
        {% for subcategory in category.subcategories.all %}
        <a href="{% url 'sub_category' slug=subcategory.slug %}"><li style="cursor:pointer">{{ subcategory.category_name }}</li></a>
        {% endfor %}
      </ul>
      {% endif %}
  {% endfor %}



  </div>

</div>
{% comment %} Post Free Classified Ads Section {% endcomment %}

<div style="background-color:#f8f9fa">
        <div style="background-color:#f8f9fa;color:#7d7d7d;" class="container">
          <div class="row">
            <div class="col-12">
              <div class="mt-5 mb-3">
                <h1>Post Free Classifieds Ads in UAE</h1>
                <p>
                  Welcome to Adjeem! We are undoubtedly one of the best free
                  Classifieds in Dubai. Our main motive is to make selling and
                  purchasing of goods and services convenient in Dubai through
                  our free ads. At our platform, you can swiftly and easily post
                  free ads, whether you are dealing with the personal items or
                  business opportunities. For your convenience we made our
                  website ad-free, so that you can browse and post ads with no
                  rifts and distractions.
                </p>
                <p>
                  Adjeem is an ideal solution for people like you, who are
                  looking for Dubai free classifieds. Our free ads posting
                  service facilitates you in targeting a large audience, for
                  conveying your message to those who are interested in what you
                  have to offer. Whether you're selling a
                  <a href={`https://adjeem.com/cars`}>
                    used car</a>
                  , searching for a
                  <a href={`https://adjeem.com/property-for-sale`}>
                  new apartment</a>
                  <a href={`https://adjeem.com/electronics`}>
                    selling a technology</a>
                  , or looking for a new job, Adjeem is the only way to get the
                  desired outcomes.
                </p>
                <p>
                  As free classifieds in Dubai, we also offer a broad range of
                  personal ads, that help you in connecting with other users and
                  in getting the commodities you want to acquire. We are not
                  just free Dubai classifieds even with our user-friendly
                  interface, you can easily navigate and find what you're
                  looking for, whether you intend to purchase or sell. Our
                  platform includes a variety of categories, including
                  electronics, real estate, jobs, personal items, and a lot of
                  other products and services.
                </p>
                <p>
                  At Adjeem, we prioritize the safety and security which is
                  direly needed in online transactions. Though we offer free ads
                  service but our platform is monitored 24/7, and we take great
                  care to ensure that all advertisements are legitimate and do
                  not contain any fraudulent or illegal content to avoid any
                  discomfort for the users.
                </p>
                <p>
                  At Adjeem, we aim at providing a memorable user-friendly
                  experience. Whether you're looking to buy, sell, or simply
                  browse the latest ads, our platform is the perfect solution
                  for anyone in the Dubai and UAE area. Most importantly, we are
                  free Dubai classifieds. So why wait? Sign up today and enjoy
                  free Dubai Classifieds service with Adjeem!
                </p>
              </div>
            </div>
          </div>
        </div>
</div>
{% comment %} Download Section {% endcomment %}
<div style="background-color:#f8f9fa;display:flex;justify-content:center;"  class="downloads py-3 mt-0">
  <div  style="background-color:#a22b27;color:white;width:85%;"class="continer py-3 mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 style="color:white;" class="white text-center">
          Take {{ userData.country.name }}'s # 1 classified site with you
        </h2>
        <p style="color:white;font-size:0.8rem" class="white text-center">
          Buy and sell new or used items wherever you go!
        </p>
        <a
          href="https://play.google.com/store/apps/details?id=com.adjeemapp"
          title="Download Adjeem Android App"
        >
          <img
            class="mr-2"
            src="{% static 'assets/img/gplay.svg' %}"
            alt="Download Adjeem Android App"
          />
        </a>
        <a
          href="https://apps.apple.com/app/adjeem/id1577021583"
          title="Download Adjeem iOS App"
        >
          <img
              src="{% static 'assets/img/apple1.svg' %}"
            alt="Download Adjeem iOS App"
          />
        </a>
      </div>
    </div>
  </div>
</div>

{% comment %} End Download Section {% endcomment %}
{% include 'includes/footer_landing.html' %}
</div>
{% endblock %}
