

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Listee | Template</title>

	<!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
	
	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
	
	<!-- Aos CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/aos/aos.css' %}">
	
    <!-- Feather CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">
		
	<!-- Fancybox CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fancybox/jquery.fancybox.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	
</head>

<body>



	<div class="main-wrapper innerpagebg">
	    
		<!-- Header -->
		<header class="header">
          {% include 'includes/header.html' %}
		</header>
		<!-- /Header -->
		
		<!--Galler Slider Section-->
		<div class="bannergallery-section">
			<div style="margin-top:85px;" class="gallery-slider d-flex">
				{% for image in product_images %}
				<div class="gallery-widget">
					<a href="{{ image.image.url }}" data-fancybox="gallery1">
						<img style="height:300px;" class="img-fluid" alt="Image" src="{{image.image.url}}">
					</a>
				</div>	
				<div class="showphotos">
					<a href="{{image.image.url}}" data-fancybox="gallery1">... Show Photos</a>
				</div>								
				{% endfor %}
			</div>			

		</div>
			
		<!--/Galler Slider Section-->
		
		<!--Details Description  Section-->
		<section class="details-description">
			<div class="container">
				<div class="about-details">
					<div class="about-headings">
						<div class="author-img">
							<img src="{{product.cover_image.url}}" alt="authorimg">
						</div>
						<div class="authordetails">
							<h5>{{product.product_name}}</h5>
							<p>Listed On: {{product.created_date}}</p>
						</div>
					</div>
					<div class="rate-details">
						<h2>AED {{product.price}} </h2>
						{% comment %}
						type like fixed and negotiable will be fixed later
						{% endcomment %}
						<p>Fixed</p>
					</div>				  
				</div>
				<div class="descriptionlinks">
					<div class="row">
						<div class="col-lg-9">
							<ul>
								<li><a href="javascript:void(0);"><i class="feather-share-2"></i> share</a></li>
								<li><a href="javascript:void(0);"><i class="feather-flag"></i> report</a></li>
								<li><a href="javascript:void(0);"><i class="feather-heart"></i> Add To Favourites</a></li>
							</ul>
						</div>
						<div class="col-lg-3">
							<div class="callnow">
								<a href="contact.html"> <i class="feather-phone-call"></i>  Call Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</section>
		
		<!--/Details Description  Section-->
		
		<!--Details Main  Section-->
		<div class="details-main-wrapper listing-section">	
			<div class="container">
				<div class="row">
					<div class="col-lg-9">                             					
						<div class="card">
							<div class="card-header">
								<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
								</span> 
								<h4>Description</h4>
							</div>
							<div class="card-body">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


								</p>
								
							</div>
						</div>					
								
						<!--Listing Features Section-->
						<div class="card">
							<div class="card-header">
								<i class="feather-list"></i>
								<h4>Listing Features</h4>
							</div>
							<div class="card-body">
								<div class="lisiting-featues">
									<div class="row">
										<div class="featureslist d-flex align-items-center col-lg-4 col-md-4">
											<div class="feature-img">
												<img src="{% static 'assets/img/featured/Feature-1.svg' %}" alt="Room amenities">
											</div>
											<div class="featues-info">
												<h6>Room <br> amenities</h6>
											</div>
										</div>
										<div class="featureslist d-flex align-items-center col-lg-4 col-md-4">
											<div class="feature-img">
												<img src="{% static 'assets/img/featured/Feature-2.svg' %}" alt="Bathroom amenities">
											</div>
											<div class="featues-info">
												<h6>Bathroom <br> amenities</h6>
											</div>
										</div>
										<div class="featureslist d-flex align-items-center col-lg-4 col-md-4">
											<div class="feature-img">
												<img src="{% static 'assets/img/featured/Feature-3.svg' %}" alt="Media Technology">
											</div>
											<div class="featues-info">
												<h6>Media & Technology <br> amenities</h6>
											</div>
										</div>
										<div class="featureslist d-flex align-items-center col-lg-4 col-md-4">
											<div class="feature-img">
												<img src="{% static 'assets/img/featured/Feature-4.svg' %}" alt="Food Security">
											</div>
											<div class="featues-info">
												<h6>Food & Security <br> amenities</h6>
											</div>
										</div>
										<div class="featureslist d-flex align-items-center col-lg-4 col-md-4">
											<div class="feature-img">
												<img src="{% static 'assets/img/featured/Feature-5.svg' %}" alt="Media Technology">
											</div>
											<div class="featues-info">
												<h6>Services & Extra <br> amenities</h6>
											</div>
										</div>
										<div class="featureslist d-flex align-items-center col-lg-4 col-md-4">
											<div class="feature-img">
												<img src="{% static 'assets/img/featured/Feature-6.svg' %}" alt="Outdoor & View amenities">
											</div>
											<div class="featues-info">
												<h6>Outdoor & View <br> amenities</h6>
											</div>
										</div>
										<div class="featureslist d-flex access-feature align-items-center col-lg-4 col-md-4">
											<div class="feature-img">
												<img src="{% static 'assets/img/featured/Feature-7.svg' %}" alt="Accessibility amenities">
											</div>
											<div class="featues-info">
												<h6>Accessibility <br> amenities</h6>
											</div>
										</div>
										<div class="featureslist d-flex align-items-center access-feature col-lg-4 col-md-4">
											<div class="feature-img">
												<img src="{% static 'assets/img/featured/Feature-8.svg' %}" alt="Safety & Security amenities">
											</div>
											<div class="featues-info">
												<h6>Safety & Security <br> amenities</h6>
											</div>
										</div>
									</div>
								</div>	
							</div>	
						</div>									
						<!--/Listing Features Section-->
								
						<!--Gallery Section-->							   
						<div class="card gallery-section">
							<div class="card-header">
								<img src="{% static 'assets/img/galleryicon.svg' %}" alt="gallery">
								<h4>Gallery</h4>
							</div>
							<div class="card-body">
								<div class="gallery-content">
									<div class="row">
										{% for image in product_images %}
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="gallery-widget">
												<a href="{{image.image.url}}" data-fancybox="gallery1">
													<img class="img-fluid" alt="Image" src="{{image.image.url}}">
												</a>
											</div>								
											
										</div>
										{% endfor %}
									</div>								
								</div>									
							</div>					
						</div>									
						<!--/Gallery Section-->
						
						<!--Ratings Section-->
						<!--/Ratings Section-->
							
						<!--Review Section-->
						<!--/Review Section-->	
								
					</div>
					<div class="col-lg-3 theiaStickySidebar">
						<div class="rightsidebar">
							<div class="card">
								<h4><img src="{% static 'assets/img/details-icon.svg' %}" alt="details-icon"> Details</h4>
								<ul>
									<li>Contract <span>For Rent</span></li>
									<li>Location <span>New York, USA</span></li>
									<li>Year Built <span>1988</span></li>
									<li>Rooms <span>3</span></li>
									<li>Beds <span>4</span></li>
									<li>Baths<span>8</span></li>
									<li>Gadgets <span>6</span></li>
									<li>Home Area <span>30sqft</span></li>
									<li>Lot Dimensions <span>30*30*20 ft</span></li>
									<li class="p-0">Lot Area <span>50 ft</span></li>
								</ul>
							</div>
							<div class="card">
								<h4><img src="{% static 'assets/img/statistic-icon.svg' %}" alt="location"> Statisfic</h4>
								<ul class="statistics-list">
									<li><div class="statistic-details"><span class="icons"><i class="fa-regular fa-eye"></i></span>
									   Views </div><span class="text-end"> 453563</span></li>
									<li><div class="statistic-details"><span class="icons"><i class="feather-star"></i></span>
									   Ratings </div><span class="text-end"> 153</span></li>
									<li><div class="statistic-details"><span class="icons"><i class="feather-heart"></i></span>
										 Favuorites </div><span class="text-end"> 123</span></li>
									<li class="mb-0"><div class="statistic-details"><span class="icons"><i class="feather-share-2"></i></span>
										 Shares </div><span class="text-end"> 50</span></li>
								</ul>
							</div>
							<div class="card mb-0">
								<h4><i class="feather-phone-call"></i> Contact Business</h4>
									<form class="contactbusinessform">
										<div class="form-group">
										   <input type="text" class="form-control" placeholder="Name">
										</div>
										<div class="form-group">
										   <input type="email" class="form-control" placeholder="Email Address">
										</div>
										<div class="form-group">
											<textarea rows="6" class="form-control"  placeholder="Message"></textarea>
										</div>
										<div class="submit-section">
											<button class="btn btn-primary submit-btn" type="submit">Send Message</button>
										</div>
									</form>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
		
		<!-- /Details Main Section -->
		
	    <!-- Footer -->
		{% include 'includes/footer.html' %}
		<!-- /Footer -->
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	
	<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.7.0.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- Select2 JS -->
<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

<!-- Aos -->
<script src="{% static 'assets/plugins/aos/aos.js' %}"></script>

<!-- Feather JS -->
<script src="{% static 'assets/js/feather.min.js' %}"></script>

<!-- Back to Top JS -->
<script src="{% static 'assets/js/backToTop.js' %}"></script>

<!-- Sticky Sidebar JS -->
<script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

<!-- Fancybox JS -->
<script src="{% static 'assets/plugins/fancybox/jquery.fancybox.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/script.js' %}"></script>

</body>
</html>
