<!-- partials/pagination.html -->
<nav>
    <ul class="pagination">
        <li class="page-item previtem {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" data-page="{{ page_obj.previous_page_number }}">
                <i class="fas fa-regular fa-arrow-left"></i> Prev
            </a>
        </li>
        <li class="justify-content-center pagination-center"> 
            <div class="pagelink">
                <ul>
                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}" data-page="{{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>                                                
        </li>                                                
        <li class="page-item nextlink {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" data-page="{{ page_obj.next_page_number }}">
                Next <i class="fas fa-regular fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</nav>
