{% for item in products %}
<tr class="product-row" data-created="{{ item.created_date | date:'Y-m-d'}}">
    <td>
        <div class="listingtable-img"> 
            <a href="{% url 'service_detail' item.slug %}">
                <img class="img-fluid avatar-img" src="{{item.cover_image.url}}" alt="">
            </a>
        </div>
    </td>
    <td>
        <h6><a href="service-details.html">{{item.product_name}}</a></h6>
        <div class="listingtable-rate">
            <a href="javascript:void(0)" class="cat-icon">
                <i class="fa-regular fa-circle-stop"></i>
                {% for category in item.category.all %}
                    {{ category.category_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </a> 
            <span class="discount-amt">$350000.00</span>
            <span class="fixed-amt">${{ item.price }}</span>
        </div>
        <p>{{item.description}}</p>
    </td>
    <td><span class="status-text">Published</span></td>
    <td><Span class="views-count">{{item.view_count}}</span></td>
    <td>
        <div class="action">
            <a href="javascript:void(0)" class="action-btn btn-view"><i class="feather-eye"></i></a>
            <a href="javascript:void(0)" class="action-btn btn-edit"><i class="feather-edit-3"></i></a>
            <a href="{% url 'delete_my_listing' item.id %}" class="action-btn btn-trash" onclick="return confirmDelete();">
                <i class="feather-trash-2"></i>
            </a>
        </div>
    </td>
</tr>
{% endfor %}
