
{% load static %}
{% for product in products %}
<div class="card" data-index="{{ forloop.counter }}">
    <div class="blog-widget">
        <div class="blog-img">
            <a href="{% url 'service_detail' product.slug %}">
                {% if product.dover_image %}
                <img src="{{product.cover_image.url}}" class="img-fluid" alt="blog-img">
                {% endif %}
            </a>


            <div class="fav-item" data-id="{{ product.id }}">
                <span class="featured-text">Featured</span>
                <a href="javascript:void(0)" class="fav-icon">
                    <i class="feather-heart" 
                       style="
                          {% if product.id in book_mark %}
                           width: 35px!important;
                           height: 35px!important;
                           color: #ffffff!important;
                           border-radius: 50%!important;
                           background: #c10037!important;
                           display: flex !important;
                           align-items: center !important;
                           justify-content: center !important;
                           {% endif %}
                       ">
                    </i>
                </a>     
            </div>
                
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
												    
        </div>
        <div class="bloglist-content">
            <div class="card-body">
                 <div class="blogfeaturelink">
                    <div class="blog-features">
                       <a href="javascript:void(0);"><span> <i class="fa-regular fa-circle-stop"></i>
                         {% for sub_category in product.sub_category.all %}
                        
                        {{ sub_category.category_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</span></a>
                    </div>																	  
                    <div class="blog-author">
                        {% if product.created_by.profile.profile_photo %} 
                       
                        <div class="blog-author-img">
                            <img src="{{product.created_by.profile.profile_photo.url}}" alt="author">
                        </div>
                        {% else %}

                        <div class='blog-author-img'>
                            <img  src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="author">
                        </div>
                        {% endif %}
                       
                        
                      <a href="javascript:void(0);">{{product.created_by.full_name}}</a>
                    </div>
                </div> 
                <h6><a href="service-details.html">{{product.product_name}}</a></h6>																	 
                <div class="blog-location-details">
                    <div class="location-info">
                        <i class="feather-map-pin"></i>{{product.location.address}}
                    </div>
                 
                    <div class="location-info">
                        <i class="fa-regular fa-calendar-days"></i>{{product.created_date|date}}
                    </div>
                    

                    <div class="location-info">
                        <i class="feather-eye"></i>{{product.view_count}}
                    </div>
                </div>
                <p class="ratings">
                    <span>4.0</span> ( 50 Reviews )
                </p>
                <div class="amount-details">
                    <div class="amount">
                        <span class="validrate">AED {{product.price}}</span>
                       
                        <span>$450</span>
                       
                    </div>
                    <a href="{% url 'service_detail' product.slug %}">View details</a>
                </div>	
            </div>	
        </div>			 
    </div> 
</div>

{% endfor %}
