
{% load static %}
{% for product in products %}
<div class="card" data-index="{{ forloop.counter }}">
    <div class="blog-widget">
        <div class="blog-img">
            <a href="service-details.html">
                <img src="{{product.cover_image.url}}" class="img-fluid" alt="blog-img">
            </a>
            <div class="fav-item">
                <span class="featured-text">Featured</span>
                <a href="javascript:void(0)" class="fav-icon">
                    <i class="feather-heart"></i>
                </a>										
            </div>															    
        </div>
        <div class="bloglist-content">
            <div class="card-body">
                 <div class="blogfeaturelink">
                    <div class="blog-features">

                       <a href="javascript:void(0);"><span> <i class="fa-regular fa-circle-stop"></i>
                         {% for category in product.category.all %}
                        {{ category.category_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}</span></a>
                    </div>																	  
                    <div class="blog-author">
                        {% if product.created_by.profile.profile_photo %} 
                       
                        <div class="blog-author-img">
                            <img src="{{product.created_by.profile.profile_photo.url}}" alt="author">
                        </div>
                        {% else %}

                        <div class='blog-author-img'>
                            <img  src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="author">
                        </div>
                        {% endif %}
                       
                        
                      <a href="javascript:void(0);">{{product.created_by.full_name}}</a>
                    </div>
                </div> 
                <h6><a href="service-details.html">{{product.product_name}}</a></h6>																	 
                <div class="blog-location-details">
                    <div class="location-info">
                       <i class="feather-map-pin"></i> Los Angeles
                    </div>
                 
                    <div class="location-info">
                       <i class="feather-phone-call"></i>{{product.created_by.profile.phone_number}}
                    </div>
                    
                    <div class="location-info">
                       <i class="feather-eye"></i>0
                    </div>
                </div>
                <p class="ratings">
                    <span>4.0</span> ( 50 Reviews )
                </p>
                <div class="amount-details">
                    <div class="amount">
                        <span class="validrate">${{product.price}}</span>
                        <span>$450</span>
                    </div>
                    <a href="service-details.html">View details</a>
                </div>	
            </div>	
        </div>			 
    </div> 
</div>

{% endfor %}