$__primarycolor: #c10037;
$__primary__dark: #97002B;
$__primarylight: rgba(255, 255, 255, 0.2);
$__primary__light__blue: #ECEBFF;
$__secondarycolor: #374b5c;
$__secondarycolor__light: #384b5c;
$__white: #ffffff;
$__light__gray: #9c9c9c;
$__light__gray__white: #646464;
$__golden__yellow: #ff823b;
$__cylindrical: #b7b7b7;
$__cylindrical__light__color: #dfdfe1;
$__cylindrical__light__white: #e1e1e1;
$__gray: #8d8d8d;
$__smoke__white: #F3F3F3;
$__smoke__white__light: #f5f5f6;
$__dark__eclipse: #0d233e;
$__dark__eclipse__dark: #09153c;
$__dangered: #FF0000;
$__ash:#dcdcdc;
$__light__grayish: #bbb;
$__light__grayish__gray: #FCF0F3;
$__grayish__gray__light: #FFF7F9;
$__pantone: #e3e3e3;
$__pantone__light_gray: #F5F5F5;
$__pantone__light: #FDF7F9;
$__shade__gray: #7f7f7f;
$__shade__gray__medium: #3c4758;
$__shade__gray__light: #dee2e7;
$__shade__gray__light__gray: #f3f3f9;
$__info_dark: #4c82f7;
$__info_dark__color: #4c40ed;
$__smoke__light: #666666;
$__black__dark: #000000;
$__light__gray__color: #dddddd;
$__erie__black: #1a1a1a;
$__erie__black__light: #131022;
$__hawkes__blue: #e1e2e5;
$__light__blue: #f9fafc;
$__sonic__silver: #757575;
$__platinum__gray: #797979;
$__info__dark__info: #1877f2;
$__white__smoke: #f1f1f1;
$__light__smoke__white: #e6e6e6;
$__cylindrical__color: #333333;
$__titan__white: #f7f7ff; 
$__titan__white__light: #AAAAAA;
$__lavender: #fff3f3; 
$__lavender__light__gray: #edf1f1;
$__wisp-pink: #e6f8eb;
$__white__smoke__light: #f8f8f8;
$__seal__brown: #131313;
$__blue__trust: #403e57;
$__dark__charcoal: #2f2f2f;
$__gray__asparagus: #4b5a64;
$__cylindrical__light: #4b5c6a;
$__light__grayish__blue: #d0d5dd;
$__whitesmoke__verylight: #f0f0f0;
$__cylindrical__smoke: #7e84a3;
$__gray85: #d9d9d9; 
$__gray60: #999999;
$__gray60__light: #717171;
$__gray95: #f2f2f2;
$__gray89: #e3e3e3;
$__gray87: #DEDEDE;
$__gray__light: #edeff3;
$__gray__light__white: #e9e9e9;
$__lavender__light: #e5e4f1;
$__light__grayish__light: #f3ebeb;
$__azalea__light: #f9b6c9;
$__white__lilac: #f4f2f5;
$__crayola__crystal: #d5d5d5;
$__warning__yellow: #ffba08;
$__golden__color: #eec304;
$__alice__blue: #e1f6ff;
$__bright__yellow: #ffaf14;
$__gold__red: #f5cd07;
$__light__orange: #ffa800;
$__yellow__orange: #ffae36;
$__light__yellow: #ffc107;
$__light__yellow__golden: #ffc700;
$__success__light: #22C55E;
$__success__light__green: #0c9e6f;
$__white__smoke__color: #f6f6f6;
$__springtime__rain: #eaecf3;
$__springtime__rain__light: #e3e3e9;
$__light__grey: #d6d6d6;
$__alice__blue__light: #f5fcff;
$__rainbo__blue: #8645ff;
$__silver__light: #c6c6c6;
$__silver__color: #bababa;
$__alabaste: #f6e7e5;
$__light__grayish__orange: #f6e7e5;
$__very__dark:#292d32;
$__dark__navy: #181059;
$__alice__blue__medium: #f5f8fd;
$__light__grayish__blue: #edeef1;
$__submarine: #888e9d;
$__oxford__blue: #263238; 
$__lavender__mist: #E3EBFD;
$__light__grayish__blue__light: #9A9EA6;
$__dark__light: #B1B1B1;
$__very__dark__gray: #4E4E4E;
$__dark__gray__light: #444444;
$__dark__gray__medium: #7c7c7c;
$__light__saturated__yellow: rgba(255, 255, 255, 0.9);
$__light__saturated__light: rgba(255, 255, 255, 0.75);