{% load static %}
	<section class="footer-six footer-nine">
			<div class="footer-six-bg footer-nine-bg">
				<img src="./assets/img/bg/footer-bg.png" alt="">
			</div>
			<div class="container">
				<div class="footer-six-top footer-nine-top">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="footer-six-right">
								<div class="footer-send-mail">
									<input type="text" class="form-control" placeholder="Subscribe to Get Updates">
									<a href="javascript:void(0);">Send mail</a>
								</div>
							</div>
						</div>
                        <div class="col-lg-6 col-md-12">
                            <div class="footer-six-center foot-nine-list">
                                <div class="footer-six-center-content">
                                    <h6>Our Total Visitors</h6>
                                    <a href="javascript:void(0);">4,56,6597</a>
                                </div>
                                <div class="footer-six-center-content">
                                    <h6>Need live support?</h6>
                                    <a href="javascript:void(0);">listee@example.com</a>
                                </div>
                                <div class="footer-six-center-content">
                                    <h6>Toll Free Customer Care</h6>
                                    <a href="javascript:void(0);">+91 26447 99875</a>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<div class=" row position-relative">
					<div class="col-lg-4 col-md-6  col-sm-12">
                        <div class="foot-nine-logo">
                            <a href="index-9.html"><img src="./assets/img/footer-logo-nine.svg" alt=""></a>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard...</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-six-top-list">
                            <h4>Discover</h4>
                            <ul>
                                <li><a href="javascript:void(0);">Chicago</a></li>
                                <li><a href="javascript:void(0);">Los Angeles</a></li>
                                <li><a href="javascript:void(0);">Miami</a></li>
                                <li><a href="javascript:void(0);">New York</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-six-top-list">
                            <h4>Lists by Category</h4>
                            <ul>
                                <li><a href="javascript:void(0);">Apartments</a></li>
                                <li><a href="javascript:void(0);">Condos</a></li>
                                <li><a href="javascript:void(0);">Houses</a></li>
                                <li><a href="javascript:void(0);">Offices</a></li>
                                <li><a href="javascript:void(0);">Retail</a></li>
                                <li><a href="javascript:void(0);">Villas</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-six-top-list">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="terms-condition.html">Terms & Conditions</a></li>
                                <li><a href="privacy-policy.html">User’s Guide</a></li>
                                <li><a href="contact.html">Support Center</a></li>
                                <li><a href="about.html">Press Info</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="social-icon-six social-icon-nine">
                            <h3>Follow us on</h3>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank"><i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
				<hr class="custom-line foot-nine-line">
				<div class="footer-six-bottom pt-0">
					<p class="mb-0">© 2023 Listee. All Rights Reserved.</p>
                    <div class="footer-six-center-list">
						<ul>
							<li><a href="index-6.html"> Home</a></li>
							<li><a href="javascript:void(0);"> Site Map</a></li>
							<li><a href="privacy-policy.html"> Privacy policy</a></li>
							<li><a href="privacy-policy.html"> Cookie Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- /Footer -->

    </div>

    <!-- scrollToTop start -->
    <div class="home-nine progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="99px" height="99px" viewBox="0 0 200 200">
            <path d="  M 0, 35.5 C 0, 0 0, 0 35.5, 0 S 71, 0 71, 35.5 71, 71 35.5, 71 0, 71 0, 35.5"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;">
            </path>
        </svg>
    </div>
    <!-- scrollToTop end -->


    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-3.7.0.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Datetimepicker JS -->
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

    <!-- Select2 JS -->
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

    <!-- Aos -->
    <script src="{% static 'assets/plugins/aos/aos.js' %}"></script>

    <!-- Top JS -->
    <script src="{% static 'assets/js/backToTop.js' %}"></script>

    <!-- counterup JS -->
    <script src="{% static 'assets/js/jquery.waypoints.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>

    <!-- Fearther JS -->
    <script src="{% static 'assets/js/feather.min.js' %}"></script>

    <!-- Owl Carousel JS -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/script.js' %}"></script>


