{% load static %}
 <header class="header header-nine">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="d-flex justify-content-start car-top-left">
                                <li class="d-flex align-items-center"><a href="categories.html">Find an agent</a></li>
                                <li class="d-flex align-items-center"><a href="signup.html">Become a dealer</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="selection-list">
                                <div class="head-contact">                                    
									<a href="{% url 'login' %}"><span class="me-2"><i class="feather-lock"></i></span>Login</a>
                                </div>
                                <span>/</span>
                                <div class="head-contact">                                    
									<a href="{% url 'register' %}"><span class="me-2"><i class="feather-user"></i></span>Sign Up</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="navbar navbar-expand-lg header-nav">
                    <div class="navbar-header">
                        <a id="mobile_btn" href="javascript:void(0);">
                            <span class="bar-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </a>
                        <a href="{% url 'property_landing_page' %}" class="navbar-brand logo">
							<img src="{% static 'assets/img/icons/logo.png' %}" class="img-fluid" alt="Logo">
                        </a>
                        <a href="index.html" class="navbar-brand logo-small">
							<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                        </a>
                    </div>
                    <div class="main-menu-wrapper">
                        <div class="menu-header">
                            <a href="{% url 'property_landing_page' %}" class="menu-logo">
								<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                            </a>
                            <a id="menu_close" class="menu-close" href="javascript:void(0);"> <i
                                    class="fas fa-times"></i></a>
                        </div>
                        <ul class="navbar-nav main-nav my-2 my-lg-0">
                            <li class="has-submenu megamenu active">
                                <a href="index.html">Home <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu mega-submenu">
								    <li>
										<div class="megamenu-wrapper">
											<div class="row">
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index.html"><img src="{% static 'assets/img/home-01.jpg' %}" class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index.html">Classified Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-2.html"><img src="{% static 'assets/img/home-02.jpg' %}" class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-2.html">Wedding Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-3.html"><img src="{% static 'assets/img/home-03.jpg' %}" class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-3.html">Tour Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-4.html"><img src="{% static 'assets/img/home-04.jpg' %}" class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-4.html">Workspace Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-5.html"><img src="{% static 'assets/img/home-05.jpg' %}"
																	class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-5.html">Business Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-6.html"><img src="{% static 'assets/img/home-06.jpg' %}"
																	class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-6.html">Car Rentals Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-7.html"><img src="{% static 'assets/img/home-07.jpg' %}"
																	class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-7.html">Restaurant Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-8.html"><img src="{% static 'assets/img/home-08.jpg' %}"
																	class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-8.html">Job Listing Home</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo active">
														<div class="demo-img">
															<a href="index-9.html"><img src="{% static 'assets/img/home-09.jpg' %}"
																	class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-9.html">Realestate Home</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>							
								</ul>
                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void(0);">Listings <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="listing-grid.html">Listing Grid</a></li>
                                    <li><a href="listing-grid-sidebar.html">Listing Grid Sidebar</a></li>
                                    <li><a href="listing-list-sidebar.html">Listing List Sidebar</a></li>
                                    <li><a href="listingmap-list.html">Listing List Map</a></li>
                                    <li><a href="listingmap-grid.html">Listing Grid Map</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="service-details.html">Service Details </a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="categories.html">Category</a></li>
                                    <li><a href="howitworks.html">How it Works</a></li>
                                    <li><a href="terms-condition.html">Terms & Conditions</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="error-404.html">404 Error</a></li>
                                    <li><a href="error-500.html">500 Error</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void(0);">User Pages <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="my-listing.html">My Listing</a></li>
                                    <li><a href="bookmarks.html">Bookmarks</a></li>
                                    <li><a href="messages.html">Messages</a></li>
                                    <li><a href="reviews.html">Reviews</a></li>
                                    <li><a href="add-listing.html">Add Listing</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void(0);">Blog <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="blog-list-sidebar.html">Blog List Sidebar</a></li>
                                    <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
							<li><a href="admin/index.html" target="_blank">Admin</a></li>
                        </ul>
                    </div>
                    <div class="d-flex align-items-center block-e">
                        <a href="categories.html" class="car-list-btn header-phone">                            
                            <span><i class="feather-phone"></i></span>+1 56622 49854
                        </a>
                        <a href="{% url 'add_listing' %}" class="car-list-btn">                            
                            <span><i class="feather-plus-circle"></i></span>Submit Property
                        </a>
                    </div>
                </nav>
            </div>
 </header>
