{% load static %}
 <header class="header header-nine">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="d-flex justify-content-start car-top-left">
                                <li class="d-flex align-items-center"><a href="categories.html">Find an agent</a></li>
                                <li class="d-flex align-items-center"><a href="signup.html">Become a dealer</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="selection-list">
                                <div class="head-contact">                                    
									<a href="{% url 'login' %}"><span class="me-2"><i class="feather-lock"></i></span>Login</a>
                                </div>
                                <span>/</span>
                                <div class="head-contact">                                    
									<a href="{% url 'register' %}"><span class="me-2"><i class="feather-user"></i></span>Sign Up</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="navbar navbar-expand-lg header-nav">
                    <div class="navbar-header">
                        <a id="mobile_btn" href="javascript:void(0);">
                            <span class="bar-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </a>
                        <a href="{% url 'property_landing_page' %}" class="navbar-brand logo">
							<img src="{% static 'assets/img/icons/logo.png' %}" class="img-fluid" alt="Logo">
                        </a>
                        <a href="index.html" class="navbar-brand logo-small">
							<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                        </a>
                    </div>
                    <div class="main-menu-wrapper">
                        <div class="menu-header">
                            <a href="{% url 'property_landing_page' %}" class="menu-logo">
								<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                            </a>
                            <a id="menu_close" class="menu-close" href="javascript:void(0);"> <i
                                    class="fas fa-times"></i></a>
                        </div>
                        <ul class="navbar-nav main-nav my-2 my-lg-0">
                <li class="has-submenu ">
                    <a href="{% url 'home' %}">HOME </a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'vechile_landing_page' %}">VECHILE</a>
                </li>
                <li class="has-submenu active">
                    <a href="{% url 'property_landing_page' %}">REAL ESTATE</a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'job_landing_page' %}">JOBS</a>
                </li>
                <li class="has-submenu">
                    <a href="#">BUSINESS DIRECTORY</a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'discover_landing_page' %}">TRAVEL AND TOURS</a>
                </li>

				<li><a href="{% url 'admin_index' %}" target="_blank">Admin</a></li>
                        </ul>
                    </div>
                    <div class="d-flex align-items-center block-e">
                        <a href="categories.html" class="car-list-btn header-phone">                            
                            <span><i class="feather-phone"></i></span>+1 56622 49854
                        </a>
                        <a href="{% url 'add_listing' %}" class="car-list-btn">                            
                            <span><i class="feather-plus-circle"></i></span>Submit Property
                        </a>
                    </div>
                </nav>
            </div>
 </header>
