{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

	
	<div class="mainwrapper error-page">
	   	<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mx-auto">
						<div class="error-wrap unexpecterror">						
							<div class="error-logo">
								<a href="index.html"><img class="img-fluid" src="{% static 'assets/img/icons/logo.png' %}" alt="img"></a>
							</div>
							<h2>Sorry unexpected Error</h2>
							<div class="error-img ">
								<img class="img-fluid" src="{% static 'assets/img/505error.jpg' %}" alt="img">
							</div>
							<a href="{% url 'home' %}" class="btn btn-primary rounded-pill">Back to Home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	{% endblock %}
							