<div class="">                    
    <ul class="dashborad-menus">
        <li class="active">
            <a href="{% url 'dashboard' %}">
                <i class="feather-grid"></i> <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'profile' %}">
                <i class="fa-solid fa-user"></i> <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="{% url 'my_listing' %}">
                <i class="feather-list"></i> <span>My Listing</span>
            </a>
        </li>
        <li>
            <a href="{% url 'book_marks' %}">
                <i class="fas fa-solid fa-heart"></i> <span>Bookmarks</span>
            </a>
        </li>
        <li>
            <a href="{% url 'messages' %}">
                <i class="fa-solid fa-comment-dots"></i> <span>Messages</span>
            </a>
        </li>
        <li>
            <a href="{% url 'reviews' %}">
                <i class="fas fa-solid fa-star"></i> <span>Reviews</span>
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <i class="fas fa-light fa-circle-arrow-left"></i> <span>Logout</span>
            </a>
        </li>
    </ul>                                
</div>