{% load static %}

<div class="container" style='max-width:1271px;'>
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="{% url 'home' %}" class="navbar-brand logo">
                <img src="{% static 'assets/img/icons/logo.png' %}" class="img-fluid" alt="Logo">
            </a>						
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="{% url 'home' %}" class="menu-logo">
                    <img src="{% static 'logo.svg' %}" class="img-fluid" alt="Logo" style='width:131px;height:35px;'>
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
            </div>
            <ul class="main-nav">
                <li class="has-submenu {% if request.path == '/' %}active{% endif %}">
                    <a href="{% url 'home' %}">Home </a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'vechile_landing_page' %}">Vehicle</a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'property_landing_page' %}">Real Estate</a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'job_landing_page' %}">Jobs</a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'discover_landing_page' %}">Business Directory</a>
                </li>
                <li class="has-submenu">
                    <a href="#">Travel And Tours</a>
                </li>
                <li class="login-link">
                    <a href="signup.html">Sign Up</a>
                </li>
                <li class="login-link">
                    <a href="login.html">Sign In</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <ul class="nav header-navbar-rht">
            <li class="nav-item">
                <a class="nav-link add-listing" href="add-listing.html"><span><i class="fa-solid fa-plus"></i></span>Add Listing</a>
            </li>
            <li class="nav-item dropdown has-arrow logged-item">
                <a href="#" class="dropdown-toggle profile-userlink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{user_profile.profile_photo.url}}" alt="">
                    <span>{{user.full_name}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>						
        </ul>
        {% else  %}


        <ul class="nav header-navbar-rht">
            <li class="nav-item">
                <a class="nav-link header-reg" href="{% url 'register' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'login' %}"> Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link add-listing" href="{% url 'add_listing' %}"><i class="fa-solid fa-plus"></i>Add Listing</a>
            </li>
        </ul>
        {% endif %}
    </nav>
</div>