  <script>
	const paginator=document.querySelectorAll('#paginationClick');

	paginator.forEach(function(element){	
	element.addEventListener('click', (e) => {
		if (e.target.tagName === 'A' || e.target.parentNode.tagName === 'A'||e.target.parentNode.parentNode.tagName==='A') {
			e.preventDefault();

			var targetElement
			if (e.target.tagName==='A'){
				
				targetElement=e.target
			}else if (e.target.parentNode.tagName=='A'){
				targetElement=e.target.parentNode
			}else if(e.target.parentNode.tagName=='svg'){
				targetElement=e.target.parentNode.parentNode
			}
			data_content=element.getAttribute('data-content')
			data_content=document.getElementById(data_content)
			const nextPageHref = targetElement.getAttribute('href');

			fetch(nextPageHref,{
				method: 'GET',  
				headers: {
					'X-Requested-With': 'FETCH'
				},
			})   .then(response=>response.json()).then(data=>{
                console.log(data.product_data)
				document.getElementById('productContainerWrapper').innerHTML=data.product_data
				element.innerHTML=data.pagination_data
			        })
                .catch(error => console.error('There has been a problem with your fetch operation:', error));

		}
	});
})
	
</script>


