{% extends 'admin1/base1.html' %}
{% load static %}
{% block content %}
	<div class="main-wrapper">
	
		<!-- Header -->
		{% include 'admin1/include/header.html' %}
		<!-- /Header -->
		
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
          

            <div class="sidebar-header">
                <div class="sidebar-logo">
                    <a href="index.html">
                        <img src="{% static 'admin/assets/img/logo.svg' %}" class="img-fluid logo" alt="">
                    </a>
                    <a href="index.html">
                        <img src="{% static 'admin/assets/img/logo-small.svg' %}" class="img-fluid logo-small" alt="">
                    </a>
                </div>
                <div class="siderbar-toggle">
                    <label class="switch" id="toggle_btn">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            
           {% include 'admin1/include/sidebar.html' %}
        </div>
        <!-- /Sidebar -->
		
		<div class="page-wrapper page-settings">
			{% include 'admin1/include/settings.html' %}
			<div class="content w-100">
                <div class="content-page-header">
                    <h5>Account Settings</h5>
                </div>
                <form action='{% url 'account_settings' %}' method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-grouphead">
                            <h2>Profile Picture</h2>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="profile-upload">
                            <div class="profile-upload-img">
                                {% if userprofile.profile_photo.url %}
                                <img src="{{userprofile.profile_photo.url}}" alt="img" id="blah">
                                {% else %}
                                <img src="{% static 'admin/assets/profile.png' %}" alt="img" id="blah">


                                {% endif %}
                            </div>
                            <div class="profile-upload-content">
                                <div class="profile-upload-btn">
                                    <div class="profile-upload-file">
                                        <input type="file" id="imgInp" name="profile_photo">
                                        <a href="javascript:void(0);" class="btn btn-load-one">Upload</a>
                                    </div>
                                    <a href="javascript:void(0);" id="removeBtn" class="btn btn-remove">Remove</a>
                                </div>
                                <div class="profile-upload-para">
                                    <p>*image size should be at least 320px big,and less than 500kb. Allowed files: .png and .jpg.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="form-grouphead">
                            <h2>Profile</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter your name" name='name' value="{{user.full_name}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" placeholder="Enter your user name" name='username' value="{{user.username|default:""}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Enter your Email" name='email' value="{{user.email}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" placeholder="Enter your Number" name='phone_number' value="{{user.phone_number}}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Bio</label>
                            <textarea class="form-control" placeholder="Add a Short Bio....." name='bio'>{{userprofile.description|default:""}}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-grouphead">
                            <h2>Personal Information</h2>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" placeholder="Enter your Address" name='address' value="{{userprofile.Address|default:""}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" class="form-control" placeholder="Enter your Country" name='country' value="{{userprofile.country|default:""}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control" placeholder="Enter your State" name='state' value="{{userprofile.state|default:""}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" class="form-control" placeholder="Enter your City" name='city' value="{{userprofile.city|default:""}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Pincode</label>
                            <input type="text" class="form-control" placeholder="Enter your Pincode" name='pincode' value="{{userprofile.pincode|default:""}}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Language</label>
                            <input class="input-tags form-control" type="text" data-role="tagsinput"  name="specialist" value="{{userprofile.language|default:""}}" id="specialist" name='language'>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="btn-path">
                            <button type='submit' class="btn btn-cancel me-3">Cancel</button>
                            <button type='submit' class="btn btn-submit">Submit</button>
                        </div>
                    </div>
                </div>
			</div>
		</div> 
	</div>


    <script>
        document.getElementById('imgInp').addEventListener('change', function(event) {
            const [file] = event.target.files;
            if (file) {
                document.getElementById('blah').src = URL.createObjectURL(file);
            }
        });
        
        document.getElementById('removeBtn').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior
        
            // Reset the image preview to the default image
            document.getElementById('blah').src = "{% static 'admin/assets/profile.png' %}";
        
            // Clear the file input
            document.getElementById('imgInp').value = "";
        });
        
    </script>

{% endblock %}