.banner-five {
	background: url("../img/banner/banner-05.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	h1, p {
		color: $__white;
		text-align: $__center;
	}
	.search-box {
		background: $__white;
		@include rounded(100px);
		@include margin-padding(null, 15px);
		form {
			@include respond-below(custom991) {
				display: flex;
    			align-items: center;
    			flex-direction: inherit;
			}
		}
		.select2-container--default {
			.select2-selection--single {
				border: 1px solid #e5e7eb;
				@include rounded(99px);
			}
		}
		.group-img {
			.select2-container--default {
				.select2-selection--single {
					.select2-selection__rendered {
						padding-left: 38px;
					}
				}
			}
			i {
				color: $__smoke__light;
			}
		}
		.search-input {
			width: $__full__width;
		}
	}
	.search-btn {
		.btn-primary {
			min-width: 50px;
			height: 50px;
			@include margin-padding(null, 0);
			@include rounded(50%);
			@extend %flex-align-center;
		}
	}
	.section-search {
		@include margin-padding(null, 250px 0);
	}
}
.cate-row2 {
	text-align: $__center;
	margin-top: -36px;
	@include respond-below(custom991) {
		margin-top: 10px;
	}
}
.category-five-section {
	background: url(../img/bg/bg-01.png), $__white;
	background-size: cover;
	position: $__relative;
    @include margin-padding(null, 80px 0);
    @include respond-below(custom1199) {        
        @include margin-padding(null, 60px 0);
    }
    @include respond-below(custom991) {        
        @include margin-padding(null, 40px 0);
    }
}
.category-items {
	li {
		display: $__inline__block;
		width: 16.3%;
		@include margin-padding(null, 0 6px);
		@include respond-below(custom991) {
			width: 25%;
    		margin-bottom: 15px;
		}
	}
}
.categories-box {
	filter: drop-shadow(0px 1px 4px rgba(19, 16, 34, 0.1));
}
.categories-info {
	position: $__relative;
	width: $__full__width;
	height: 200px;
	background-color: $__white;
	border: 1px solid $__white__smoke;
	@include margin-padding(null, 15px);
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	text-align: $__center;
	@extend %flex-align-center;
	flex-direction: column;
	@include transition(0.5s);
	&:hover {
		background-color: $__primarycolor;
		@include transition(0.5s);
		h6, p {
			color: $__white;
		}
		span {
			img {
				filter: invert(1) brightness(100);
			}
		}
	}
	span {
		display: $__inline__block;
		@include margin-padding(0 0 20px, null);
	}
	h6 {
		font-size: $__font__size__20;
		@include margin-padding(0 0 6px, null);
	}
	p {
		font-size: $__font__size__14;
		margin-bottom: 0;
	}
}
.section-heading {
	&.heading-five {
		@include margin-padding(null, 0 0 5px);
		h2 {
			@extend %justify-content-center;
		}
		&::before {
			position: $__absolute;
			content: "";
			bottom: 0;
			left: 50%;
			width: 176px;
			height: 1px;
			transform: translateX(-50%);
			border-bottom: 1px solid $__crayola__crystal;
		}
		&::after {
			position: $__absolute;
			content: "";
			bottom: -1px;
			left: 50%;
			width: 67px;
			height: 3px;
			transform: translateX(-50%);
			background: $__primarycolor;
		}
	}
}
.business-slider, .testi-five-slider {
	&.owl-carousel {
		.owl-nav  {
			.owl-next, .owl-prev {
				position: $__absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 32px;
				height: 32px;
				background: $__white;
				box-shadow: 0px 4px 14px rgba(141, 141, 141, 0.25);
				@include rounded(50%);
				@include margin-padding(auto, null);
				&:hover {
					background: $__primarycolor;
					color: $__white;
				}
			}
		}
		.owl-prev {
			left: -50px;
		}
		.owl-next {
			right: -50px;
		}	
	}
}
.business-card {
	&.card {
		@include margin-padding(0, 0);
	}
	.blog-features {
		@extend %display-flex-center;
	}
}
.grid-view {
	.business-card {
		.featured-text {
			background: $__secondarycolor;
			font-size: $__font__size__12;
			@include margin-padding(null, 4px 9px);
			display: $__inline__block;
			position: $__absolute;
			top: -13px;
			z-index: 2;
		}
		.card-body {
			@include margin-padding(null, 20px);
		}
		.grid-author {
			top: -23px;
			right: 20px;
			img {
				width: 45px;
				height: 45px;
				border: 5px solid $__white;
			}
		}
		.bloglist-content {
			.blogfeaturelink {
				@include margin-padding(10px 0, null);
				@extend %jusflex-start;
			}
		}
	}
}
.business-section {
	background: url("../img/bg/business-bg.png"), $__smoke__white;
	background-size: cover;
	position: $__relative;
    @include margin-padding(null, 80px 0);
    @include respond-below(custom1199) {        
        @include margin-padding(null, 60px 0);
    }
    @include respond-below(custom991) {        
        @include margin-padding(null, 40px 0);
    }
}
.feature-section {
	background: $__white;
	@include margin-padding(null, 80px 0 66px);
}
.city-box {
	position: $__relative;
	@include margin-padding(0 0 24px, null);
}
.citi-img {
	@include rounded(20px);
	overflow: $__hidden;
	img {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		-moz-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		-ms-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		-o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		-webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		@include rounded(20px);
	}
	&:hover {
		img {
			-webkit-transform: scale(1.35) rotate(15deg);
			-moz-transform: scale(1.35) rotate(15deg);
			transform: scale(1.35) rotate(15deg);
		}
	}
}
.city-overlay {
	position: $__absolute;
	bottom: 0;
	left: 0;
	width: $__full__width;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0px 0px 20px 20px;
	@include margin-padding(null, 20px);
	@extend %display-flex-between;
	&.city-five-overlay {
		border-radius: 0px 0px 10px 10px;
	}
}
.city-name {
	h5 {
		color: $__white;
		@include margin-padding(0 0 5px, null);
	}
	ul {
		li {
			display: $__inline__block;
			color: $__white;
			margin-right: 10px;
			font-size: $__font__size__12;
			i {
				margin-right: 5px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.adventure-section {
	background: $__primarycolor;	
	position: $__relative;
    @include margin-padding(null, 80px 0);
    @include respond-below(custom1199) {        
        @include margin-padding(null, 60px 0);
    }
    @include respond-below(custom991) {        
        @include margin-padding(null, 40px 0);
    }
	.adventure-info {
		p {
			color: $__white;
			@include margin-padding(0 0 20px, null);
		}
		.section-heading {
			&.heading-five {
				h2, h6 {
					color: $__white;
				}
				&::after {
					background: $__white;
				}
				&::before, &::after { 
					left: 0;
    				transform: translateX(0);
				}
				h6 {
					@include respond-below(custom991) {
						text-align: center;
					}
				}
			}
		}
		.btn {
			@include margin-padding(null, 9px 23px);
			@include rounded(6px);
		}
	}
}
.gallery-section-five {
	@include margin-padding(null, 80px 0 56px);
}
.gal-wrap {
	@include margin-padding(0 0 24px, null);
	position: $__relative;
	img {
		width: $__full__width;
		@include rounded(10px);
	}
	&:hover {
		.city-five-overlay {
			opacity: 1;
			@include transition(0.5s);
		}
	}
}
.city-five-overlay {
	opacity: 0;
	@include transition(0.5s);
	.city-name {
		p {
			font-size: $__font__size__14;
			color: $__white;
		}
		h5 {
			font-size: $__font__size__18;
		}
	}
}
.price-three {
	&.price-five {
		.price-level {
			h6 {
				font-size: 24px;
				color: $__dark__navy;
			}
		}
		&.price-card {
			&:hover {
				background: $__primarycolor;
				.price-level {
					h6 {
						color: $__white;
					}
				}
			}
		}
	}
	.price-body {
		h4 {
			font-size: $__font__size__25;
			font-weight: $__bold;
			color: $__dark__navy;
		}
	}
	.price-level {
		span {
			color: $__rainbo__blue;
			font-size: $__font__size__12;
			background: $__white;
			font-weight: $__semibold;
		}
	}
}
.price-five {
	&.active {
		background: $__primarycolor;
	}
	.viewdetails-btn {
		border: 1px solid $__primarycolor;
		background: $__white;
		@include rounded(10px);
		color: $__primarycolor;
		font-weight: $__semibold;
		@include margin-padding(null, 8px 15px);
		@include transition(0.5s);
		@extend %flex-align-center;
	}
	&.price-card {
		box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
		@include rounded(24px);
		border: 0;
	}
}
.price-head-five {
	&.section-heading {
		@include margin-padding(0 0 70px, null);
	}
}
.price-five {
	&.active {
		.price-level, .price-body {
			h6, li, h4 {
				color: $__white;
				span {
					color: $__white;
				}
			}
		}
	}
}
.testimonial-five-section {
	background: url(../img/bg/business-bg.png), $__smoke__white;
	background-size: cover;
}
.testi-four {
	&.testi-five {
		.testimonialslider-content {
			span {
				position: $__relative;
				top: 0;
			}
		}
	}
}
.testimonial-info {
	&.testi-four {
		padding: 30px;
		margin: 10px 0 0;
		box-shadow: none;
		position: relative;
	}
}
.testi-four {
	&.testi-five {
		.testimonialslider-content {
			span {
				position: relative;
				top: 0;
			}
		}
	}
}
.stay-tuned {
	&.stay-turn-five {
		@include rounded(0);
		@include margin-padding(0, 50px 0);
		position: $__relative;
		overflow: $__hidden;
		background: url(../img/footer-bg.png), $__primarycolor;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.latest-blog-five {
	@include margin-padding(null, 80px 0 65px);
}
.articles-grid {
	@include margin-padding(null, 15px);
	@include margin-padding(0 0 25px, null);
	border: 2px solid $__white__smoke;
	@include rounded(10px);
}
.articles-info {
	@extend %display-flex-center;
}
.articles-left {
	margin-right: 20px;
}
.articles-img {
	position: $__relative;
	overflow: $__hidden;
	@include rounded(8px);
	width: 205px;
	height: 180px;
	img {
		position: $__relative;
		@include rounded(8px);
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		-moz-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		-ms-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		-o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		-webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		width: $__full__width;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.15);
			-moz-transform: scale(1.15);
			transform: scale(1.15);
		}
		&::before {
			-webkit-animation: circle 1s;
			animation: circle 1s;
		}
	}
	&::before {
		position: $__absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		display: $__block;
		content: "";
		width: 0;
		height: 0;
		background: rgba(255, 255, 255, 0.2);
		@include rounded(100%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 0;
	}
}
.articles-content {
	.articles-list {
		@include margin-padding(0 0 10px, null);
		li {
			@extend %inline-flex;
			@extend %display-flex;
			color: $__submarine;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			i {
				font-size: $__font__size__18;
				margin-right: 8px;
			}
		}
	}
	h4 {
		font-weight: $__semibold;
		font-size: $__font__size__18;
		@include margin-padding(0 0 10px, null);
		a {
			color: $__dark__eclipse;
		}
	}
	p {
		color: $__gray60;
		@include margin-padding(0 0 16px, null);
		font-size: $__font__size__15;
	}
}
.articles-read-more {
	&.btn {
		background: $__white;
		border: 1px solid $__white;
		@include rounded(6px);
		color: $__primarycolor;
		font-weight: $__semibold;
		font-size: $__font__size__15;
		@include margin-padding(null, 8px 15px);
		border: 1px solid $__primarycolor;
		@include transition(0.7s);
		box-shadow: inset 0 0 0 $__primarycolor;
		@extend %inline-flex;
		@extend %align-items-center;
		&:hover {
			background: $__primarycolor;
			color: $__white;
			border: 1px solid $__primarycolor;
			box-shadow: inset 0 70px 0 0 $__primarycolor;
			@include transition(0.7s);
		}
	}
}