{% extends 'admin1/base1.html' %}
{% load static %}
{% block content %}

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>



    <div class="main-wrapper">
    
        <!-- Header -->
      {% include 'admin1/include/header.html' %}
        <!-- /Header -->
        
        <!-- Sidebar -->
   {% include 'admin1/include/sidebar.html' %}
        <!-- /Sidebar -->
        
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-7 col-sm-12 m-auto">
                        <div class="content-page-header">
                            <h5>Edit Category</h5>
                        </div>
                        {% comment %}
                        Meaning if there is a category name which is case for subcategory
                        {% endcomment %}
                       <form method="POST" action="{% url 'edit_category' id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                             {% if category_slug %}
                            <input type='hidden' name='category_slug' value="{{category_slug}}" />
                            {% endif %}

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Category Name* <span>(English)</span></label>
                                        <input type="text"  name='category_name' class="form-control" value="{{category.category_name|default:""}}" placeholder="Category Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Menu Text*</label>
                                        <input type="text"  class="form-control" name='menu_text' placeholder="Menu Text" value="{{category.menu_text|default:""}}">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Order</label>

                                      
                                        <input type="number"  class="form-control" name='order' placeholder="Order" value="{{category.order|default:1}}">

                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="order-select">Type*{{category.category_type}}</label>
                                        <div class="custom-select-wrapper">
                                            <select id="order-select" name="type" class="form-control custom-select-arrow">
                                                <option value="Classified" {% if category.category_type == 'Classified' %}selected{% endif %}>Classified</option>
                                                <option value="Real Estate" {% if category.category_type == 'Real Estate' %}selected{% endif %}>Real Estate</option>
                                                <option value="Posting Job" {% if category.category_type == 'Posting Job' %}selected{% endif %}>Posting Job</option>
                                                <option value="Searching Job" {% if category.category_type == 'Searching Job' %}selected{% endif %}>Searching Job</option>
                                                <option value="Vehicle" {% if category.category_type == 'Vehicle' %}selected{% endif %}>Vehicle</option>  
                                            </select>
                                            <span class="custom-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="media-select">Menu Item ?</label>
                                        <div class="custom-select-wrapper">
                                            <select id="media-select" name='menu_item' class="form-control custom-select-arrow">
                                                <option value="no" >NO</option>
                                                <option value="yes" {% if category.menu_item%} selected{% endif %}>Yes</option>
                                            </select>
                                            <span class="custom-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="media-select">Popular Item ?</label>
                                        <div class="custom-select-wrapper">
                                            <select id="media-select" name='popular_item' class="form-control custom-select-arrow">
                                                <option value="no">NO</option>
                                                <option value="yes" {% if category.popular_item %} selected {% endif %}>Yes</option>
                                            </select>
                                            <span class="custom-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="media-select">Featured Item ?</label>
                                        <div class="custom-select-wrapper">
                                            <select id="media-select" name='featured_item' class="form-control custom-select-arrow">
                                                <option value="no">NO</option>
                                                <option value="yes" {% if category.featured_item %} selected {% endif %}>Yes</option>
                                            </select>
                                            <span class="custom-arrow"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="media-select">Latest Item ?</label>
                                        <div class="custom-select-wrapper">
                                            <select id="media-select" name='latest_item' class="form-control custom-select-arrow">
                                                <option value="no">NO</option>
                                                <option value="yes" {% if category.latest_item %} selected {% endif %}>Yes</option>
                                            </select>
                                            <span class="custom-arrow"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="media-select">Is industry category?</label>
                                        <div class="custom-select-wrapper">
                                            <select id="media-select" name='industry_category' class="form-control custom-select-arrow">
                                                <option value="no">NO</option>
                                                <option value="yes" {% if category.industry_standard %} selected {% endif %}>Yes</option>
                                            </select>
                                            <span class="custom-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="media-select">Media Type</label>
                                        <div class="custom-select-wrapper">
                                            <select id="media-select" name='media_type' class="form-control custom-select-arrow">
                                                <option value="Image" {% if category.media_type == 'Image' %} selected {% endif %}>Image</option>
                                                <option value="Document" {% if category.media_type == 'Document' %} selected {% endif %}>Document</option>
                                                <option value="None" {% if category.media_type %} selected {% endif %}>None</option>
                                            </select>
                                            <span class="custom-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                


<style>
 .ql-editor strong{
     font-weight:bold;
 }
</style>
                        <!-- Long Description -->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Long Description<span class="mandatory">*</span></label>
                            <div style="height:200px;" id="long-description-container"></div>
                            <input type="hidden" name="long_description" required id="long-description">
                        </div>
                    </div>

                    <script>
                    window.onload = function() {
                        var quillLong = new Quill('#long-description-container', {
                            theme: 'snow'
                        });

                        quillLong.on('text-change', function() {
                            console.log(quillLong.root.innerHTML);  // Use quillLong here
                            var content = document.querySelector('#long-description');
                            content.value = quillLong.root.innerHTML;
                            console.log(content.value);
                        });
                    };
                    </script>

                    <!-- Short Description -->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Short Description <span class="mandatory">*</span></label>
                            <div style="height:200px;" id="short-description-container"></div>
                            <input type="hidden" name="short_description" required id="short-description">
                        </div>
                    </div>

                    <script>
                    var quillShort = new Quill('#short-description-container', {
                        theme: 'snow'
                    });

                    quillShort.on('text-change', function() {
                        var content = document.querySelector('#short-description');
                        content.value = quillShort.root.innerHTML;  // Use quillShort here
                        console.log(content.value);
                    });
                    </script>
                     




                                <!--short end-->


                                <!--status-->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="media-select">Status?</label>
                                        <div class="custom-select-wrapper">
                                            <select id="media-select" name='status' class="form-control custom-select-arrow">
                                                <option value="PENDING" {% if category.status == 'PENDING' %} selected {% endif %}>Pending</option>
                                                <option value="ACTIVE"  {% if category.status == 'ACTIVE' %} selected {% endif %}>Active</option>
                                                <option value="BLOCKED"  {% if category.status == 'BLOCKED' %} selected {% endif %}>Blocked</option>
                                                <option value="DELETED"  {% if category.status == 'DELETED' %} selected {% endif %}>Deleted</option>
                                            </select>
                                            <span class="custom-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--endstatus -->


                                <!--default meta for country only -->

                                <h1 style="margin-bottom: 10px; font-weight: bold; font-size: 16px;">Default Meta for country only</h1>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Title </label>
                                        <input  name='meta_title_country' value="{{category.meta_title_country|default:''}}" type="text" class="form-control" placeholder="Title">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" name='meta_description_country' value="{{category.meta_description_country|default:''}}" class="form-control" placeholder="Descriptions">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Keywords</label>
                                        <input type="text" name='meta_keywords_country' class="form-control" value="{{category.meta_keywords_country|default:''}}" placeholder="Keywords">
                                    </div>
                                </div>

                                <!--end default meta -->

                                <!-- meta for country and city -->


                                <h1 style="margin-bottom: 10px; font-weight: bold; font-size: 16px;">Default Meta for country and city </h1>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Title </label>
                                        <input type="text" class="form-control" name='meta_title_city' value="{{category.meta_title_city|default:''}}" placeholder="Title">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" class="form-control" name='meta_description_city' value="{{category.meta_description_city|default:''}}" placeholder="Descriptions">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Keywords</label>
                                        <input type="text" class="form-control" name='meta_keywords_city' value="{{category.meta_keywords_city|default:''}}" placeholder="Keywords">
                                    </div>
                                </div>

                                <!--end default meta -->


                                
                               <!--media -->

                                <h1 style="margin-bottom: 10px; font-weight: bold; font-size: 16px;">Media </h1>

                                <div class="col-lg-12">
                                    <div class="form-group mb-0">
                                        <label>Icon Image</label>
                                    </div>
                                    <div class="form-uploads mb-4">
                                        <div class="form-uploads-path">
                                            <img src="{% static 'admin/assets/img/icons/upload.svg' %}" alt="img">
                                            <div class="file-browse">
                                                <h6>Drag & drop image or </h6>
                                                <div class="file-browse-path">
                                                    <input type="file" name='icon_image' id="imgInp1" class="form-control">
                                                    <a href="javascript:void(0);"> Browse</a>
                                                </div>
                                            </div>
                                            <h5>Supported formats: JPEG, PNG</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="upload-div mb-0">
                                        <div class="upload-sets">
                                            <div class="upload-sets-btn form-group">
                                                <label>Icon <span>(Display on the home page)</span></label>
                                                <input type="file" id="icon_image_input" name='icon_image' class="form-control">
                                                <a href="javascript:void(0);" class="btn btn-upload">Upload File</a>
                                                <p>Recommended Icon Size is 48*48</p>
                                            </div>
                                        </div>
                                        <div class="upload-img">
                                            <div class="upload-imgset">	
                                                {% if category.category_icon_image %}
                                                <img src="{{category.category_icon_image.url}}" alt="img" id="icon_img">
                                               {% else %}
                                               <img src="{% static 'admin/assets/img/icons/gallery.svg' %}" alt="img" id="icon_img">

                                               {% endif %}
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-0">
                                        <label>Secondary Icon Image</label>
                                    </div>
                                    <div class="form-uploads mb-4">
                                        <div class="form-uploads-path">
                                            <img src="{% static 'admin/assets/img/icons/upload.svg' %}" alt="img">
                                            <div class="file-browse">
                                                <h6>Drag & drop image or </h6>
                                                <div class="file-browse-path">
                                                    <input type="file" id="imgInp2" name='thumbnail_image' class="form-control">
                                                    <a href="javascript:void(0);"> Browse</a>
                                                </div>
                                            </div>
                                            <h5>Supported formats: JPEG, PNG</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="upload-div mb-0">
                                        <div class="upload-sets">
                                            <div class="upload-sets-btn form-group">
                                                <label>Secondary Icon <span>(Display on the home page)</span></label>
                                                <input type="file" id="thumbnail_image_input" name='thumbnail_image' class="form-control">
                                                <a href="javascript:void(0);" class="btn btn-upload">Upload File</a>
                                                <p>Recommended Icon Size is 48*48</p>
                                            </div>
                                        </div>
                                        <div class="upload-img">
                                            <div class="upload-imgset">	
                                                {% if  category.category_thumbnail_image %}
                                                <img src="{{category.category_thumbnail_image.url}}" alt="img" id="thumb_img">
                                                {% else %}
                                                <img src="{% static 'admin/assets/img/icons/gallery.svg' %}" alt="img" id="thumb_img">

                                                {% endif %}
                                            
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- JavaScript for Image Preview -->
                                <script>
                                function readURL(input, imgElementId) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();
                                        reader.onload = function(e) {
                                            document.getElementById(imgElementId).src = e.target.result;
                                        }
                                        reader.readAsDataURL(input.files[0]); // convert to base64 string
                                    }
                                }
                                
                                document.getElementById("imgInp1").addEventListener("change", function() {
                                    readURL(this, 'icon_img');
                                });
                                
                                document.getElementById("imgInp2").addEventListener("change", function() {
                                    readURL(this, 'thumb_img');
                                });
 
                                document.getElementById("icon_image_input").addEventListener("change", function() {
                                    readURL(this, 'icon_img');
                                });
                                
                                document.getElementById("thumbnail_image_input").addEventListener("change", function() {
                                    readURL(this, 'thumb_img');
                                });

                                </script>
                                
                                
                                <!--end of media -->
                            
                                <div class="col-lg-12">
                                    <div class="btn-path">                                    
                                        <a href="javascript:void(0);" class="btn btn-cancel me-3">Cancel</a>
                                        <button type="submit" class="btn btn-submit "> Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>


   

  {% endblock %}
