{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Listee | Template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
	
	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
	
	<!-- Aos CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/aos/aos.css' %}">
	
    <!-- Feather CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">
		
	<!-- Owl carousel CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	
</head>
<body>

{% block content %}
{% endblock %}





<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.7.0.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- Select2 JS -->
<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

<!-- Aos -->
<script src="{% static 'assets/plugins/aos/aos.js' %}"></script>

<!-- Top JS -->
<script src="{% static 'assets/js/backToTop.js' %}"></script>

<!-- Feather JS -->
<script src="{% static 'assets/js/feather.min.js' %}"></script>

<!-- Owl Carousel JS -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>