<div class="content-sidelink">
    <div class="content-sidelinkheading">
        <h6>Settings</h6>
    </div>
    <div class="content-sidelinkmenu">
        <ul>
            <li><h5>General Settings</h5></li>
            <li><a class="active" href="{% url 'account_settings' %}">Account Settings </a></li>
            <li><a href="{% url 'security_settings' %}">Security</a></li>

        </ul>
        
        <ul>
            <li><h5><a href="{% url 'seo' %}">Seo Settings</a></h5></li>
        </ul>
    </div>
</div>