{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-logo">
            <a href="{% url 'admin_index' %}">
                <img src="{% static 'assets/img/icons/logo.png' %}" class="img-fluid logo" alt="">
            </a>
            <a href="{% url 'admin_index' %}">
                <img src="{% static 'admin/assets/img/logo-small.svg' %}" class="img-fluid logo-small" alt="">
            </a>
        </div>
        <div class="siderbar-toggle">
            <label class="switch" id="toggle_btn">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title m-0">
                    <h6>Home</h6>
                </li>
                <li>
                    <a href="{% url 'admin_index' %}" class=" {% if request.path == '/admins/dashboard/' %}active{% endif %}"><i class="fe fe-grid"></i> <span>Dashboard</span></a>
                </li>
                <li class="menu-title">
                    <h6>Listing</h6>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fe fe-star"></i> 
                        <span>Post</span>
                        <span class="menu-arrow"><i class="fe fe-chevron-right"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="{% url 'admin_category' %}" class="{% if request.path == '/admins/categories/' %} active {% endif%}">Categories</a>
                        </li>
                        <li>
                            <a href="{% url 'admin_fields' %}" class="{% if request.path == '/admins/fields/' %} active {% endif %}">Fields</a>
                        </li>
                        <li>
                            <a href="{% url 'ads' %}" class="{% if request.path == '/admins/ads/' %} active {% endif %}">Ads</a>
                        </li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fe fe-star"></i> 
                        <span>Listing</span>
                        <span class="menu-arrow"><i class="fe fe-chevron-right"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="">Businesses</a>
                        </li>
                      
                    </ul>
                </li>
                

              
               
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fe fe-credit-card"></i> 
                        <span>Subscriptions</span>
                        <span class="menu-arrow"><i class="fe fe-chevron-right"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="payout-request.html">Payout Requests</a>
                        </li>
                        <li>
                            <a href="payout-settings.html">Payout Settings</a>
                        </li>
                    </ul>
                </li>
                
               
             
               
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fe fe-user"></i> 
                        <span> Users</span>
                        <span class="menu-arrow"><i class="fe fe-chevron-right"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="{% url 'user_list' %}">New User</a>
                        </li>
                        <li>
                            <a href="{% url 'customers_list' %}">Customers</a>
                        </li>
                      
                    </ul>
                </li>
             
                
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="fe fe-settings"></i> 
                        <span>Settings</span>
                        <span class="menu-arrow"><i class="fe fe-chevron-right"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="user-list.html">Language</a>
                        </li>
                        <li>
                            <a href="user-customers.html">Country</a>
                        </li>
                        <li>
                            <a href="{% url 'seo' %}">SEO</a>
                        </li> 
                        <li>
                            <a href="{% url 'default_settings' %}">Config</a>
                        </li> 
                        <li>
                            <a href="{% url 'account_settings' %}">Account Settings</a>
                        </li> 
                    </ul>
                </li>
                <li>
                    <a href="index.html"><i class="fe fe-grid"></i> <span>Banner Ads</span></a>
                </li>
                <li>
                    <a href="index.html"><i class="fe fe-grid"></i> <span>Mobile Banner</span></a>
                </li>
              
                <li>
                    <a href="{% url 'logout' %}"><i class="fe fe-log-out"></i> <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>