{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

	
	<div class="main-wrapper">
	
		<!-- Header -->
		<header class="header">
			{% include 'includes/header.html' %}
		</header>
		<!-- /Header -->
		{% include 'includes/alert.html' %}
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
			    	    <h2 class="breadcrumb-title">Add Listing</h2>
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Add Listing</li>
							</ol>
						</nav>							
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->
		
		<!-- Profile Content -->
        <div class="dashboard-content listing-section ">		
			<div class="container">
				{% include 'includes/dashboard.html' %}
				<div class="profile-content">
				    <div class="messages-form">

						<form action='{% url "add_listing" %}' method="POST" enctype="multipart/form-data">
								{% csrf_token %}

							<div class="card">
								<div class="card-header">
									<h4>Basic information</h4>							
								</div>


								

								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label">Listing Title <span>*</span></label>								    
										<input type="text"  class="form-control pass-input" placeholder="Title" name='product_name'>									   
									</div>
									<div class="form-group">
										<label class="col-form-label">Listing Description <span>*</span></label>
										<textarea rows="6" class="form-control listingdescription" placeholder="Message" name='description'></textarea>												
									</div>
									<div class="form-group">
										<label class="col-form-label label-heading">Category</label>
										<div class="row category-listing">
											{% for category in categories %}
												{% if forloop.counter0|divisibleby:4 %}
													<div class="col-lg-4">
														<ul>
												{% endif %}
														<li>
															<label class="custom_check">
																<input type="checkbox" name="categories" value="{{ category.id }}" onclick="loadSubcategories(this)">
																<span class="checkmark"></span> {{ category.category_name }}
															</label>
														</li>
												{% if forloop.counter|divisibleby:4 or forloop.last %}
														</ul>
													</div>
												{% endif %}
											{% endfor %}
										</div>
										
										<div class="subcategory-wrapper">
											<!-- Subcategory heading will be inserted here -->
											<div class="row subcategory-listing">
												<!-- Subcategories will be loaded here dynamically -->
											</div>
										</div>

										<div class="brand-wrapper">
											<!-- Brand heading and listing will be inserted here -->
											<div class="row brand-listing">
												<!-- Brands will be loaded here dynamically -->
											</div>
										</div>
										
										
									</div>
									
									<div class="form-group formlast-input">
										<label class="col-form-label label-heading">Tagline</label>								    
										<textarea rows="2" class="form-control tagline" placeholder="" name='tagline'></textarea>									   
									</div>					
								</div>   							
							</div>	
							<div class="card">
								<div class="card-header">
									<h4>Basic information</h4>							
								</div>
								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label">Price Range</label>								    
										<input type="text"  class="form-control pass-input" placeholder="enter a price" name='price'>									   
									</div>
									
								</div>
							</div>	
							<div class="card">
								<div class="card-header">
									<h4>Features information</h4>							
								</div>
								<div class="card-body">
									<div class="form-group featuresform-list mb-0">
										<ul>

											{% for feature in features %}
											<li>
												<label class="custom_check">
													<input type="checkbox" name="features" value="{{feature.id}}"> 
													<span class="checkmark"></span>{{feature.name}}
												</label>
											</li>
											{% endfor %}
											
																					
										</ul>	
										<div class="clearfix"></div>   									
									</div>								
								</div>
							</div>					
							<div class="card">
								<div class="card-header">
									<h4>Location information</h4>							
								</div>
								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label">Location</label>								    
										<input type="text" class="form-control" value="" name='location'>									   
									</div>
									<div class="form-group">
										<label class="col-form-label">Address</label>								    
										<input type="text" class="form-control" value="" name='address'>									   
									</div> 
									<div class="form-group">
										<label class="col-form-label">Map Address</label>								    
										<input type="text" class="form-control" value="8697-8747 Stirling Rd, Florida" name='map_address'>									   
									</div> 	
									<div class="listing-map">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.6461688381!2d-80.26548188573862!3d26.045130803169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a862f9831459%3A0xafcb9384c02e8b75!2s8697%20Stirling%20Rd%2C%20Cooper%20City%2C%20FL%2033328%2C%20USA!5e0!3m2!1sen!2sin!4v1671519522101!5m2!1sen!2sin" width="100" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>								
									</div>	
									<div class="row">
										<div class="col-lg-6 col-md-6">									     
											<div class="form-group formlast-input lat-input">
												<input type="text" class="form-control" value="26.045197767574102" name='longitude'>									   
											</div>
										</div>
										<div class="col-lg-6 col-md-6">									     
											<div class="form-group formlast-input">
												<input type="text" class="form-control" value="-80.26095677163161" name='latitude'>									   
											</div>
										</div>
									</div>								
								</div>
							</div>	
							<div class="card">
								<div class="card-header">
									<h4>Contact Information </h4>							
								</div>
								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label">Email </label>								    
										<input type="text" class="form-control pass-input" placeholder="" name='email'>									   
									</div>
									<div class="form-group">
										<label class="col-form-label">Website </label>
										<input type="text" class="form-control pass-input" placeholder="" name='websites'>												
									</div>
									<div class="form-group formlast-input">
										<label class="col-form-label">Phone </label>
										<input type="text" class="form-control pass-input" placeholder="" name='phone_number'>												
									</div>								
								</div>
							</div>
							


							<div class="card media-section">
								<div class="card-header">
									<h4>Media Information</h4>
								</div>
								<div class="card-body">
									 <div class="row">
										<div class="col-lg-6 col-md-6 featured-img1">
											<h6 class="media-title">Featured Image</h6>
											<div class="media-image">
												<img src="{% static 'assets/img/mediaimg-2.jpg' %}" alt="Featured Image">
											</div>
											<div class="settings-upload-btn">
												<input type="file" accept="image/*" name="cover_image" class="hide-input image-upload" id="file">
												<label for="file" class="file-upload">Upload File</label>
											</div>
										</div>
									
									</div>
									<div class="gallery-media">
										<h6 class="media-title">Gallery</h6>
										<div class="galleryimg-upload" id="gallery-preview">
											<!-- Initially displayed static images with a unique class -->
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-1.jpg' %}" class="img-fluid" alt="Gallery Image 1">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-2.jpg' %}" class="img-fluid" alt="Gallery Image 2">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-3.jpg' %}" class="img-fluid" alt="Gallery Image 3">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-4.jpg' %}" class="img-fluid" alt="Gallery Image 4">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-5.jpg' %}" class="img-fluid" alt="Gallery Image 5">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
										</div>
										<div class="settings-upload-btn">
											<input type="file" accept="image/*" name="gallery_images" class="hide-input image-upload" id="gallery-upload" multiple>
											<label for="gallery-upload" class="file-upload">Upload File</label>
										</div>
									</div>
									
									
									
									
								</div>
							</div>
							<button class="btn btn-primary" type="submit"> Submit</button>	
						</form>					
					</div>			
				</div>
			</div>		
		</div>		
		<!-- /Profile Content -->
		
				<!-- Footer -->
		{% include 'includes/footer.html' %}
		<!-- /Footer -->	
	   
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	    


	<script>

		document.getElementById('gallery-upload').addEventListener('change', function(event) {
			const galleryPreview = document.getElementById('gallery-preview');
			const files = event.target.files;
		
			
			const staticImages = galleryPreview.querySelectorAll('.static-image');
			staticImages.forEach(image => {
				galleryPreview.removeChild(image);
			});
			const currentImages = galleryPreview.querySelectorAll('.gallery-upload').length;
					
			
			if (files.length + currentImages > 5) {
				alert('You can only upload a maximum of 5 photos.');
				return;
			}
		
			Array.from(files).forEach(file => {
				const reader = new FileReader();
		
				reader.onload = function(e) {
					const imageContainer = document.createElement('div');
					imageContainer.className = 'gallery-upload';
					// Get the current number of images in the gallery
		

		
					const img = document.createElement('img');
					img.src = e.target.result;
					img.className = 'img-fluid';
					img.alt = 'Gallery Image';
		
					const removeBtn = document.createElement('a');
					removeBtn.href = 'javascript:void(0)';
					removeBtn.className = 'profile-img-del';
					removeBtn.innerHTML = '<i class="feather-trash-2"></i>';
					
					removeBtn.addEventListener('click', function() {
						galleryPreview.removeChild(imageContainer);
					});
		
					imageContainer.appendChild(img);
					imageContainer.appendChild(removeBtn);
		
					galleryPreview.appendChild(imageContainer);
				};
		
				reader.readAsDataURL(file);
			});
		});
		
		
		
	</script>

<script>
	function loadSubcategories(checkbox) {
		let categoryId = checkbox.value;
		let subcategoryListing = document.querySelector('.subcategory-listing');
		let subcategoryHeading = document.querySelector('.subcategory-heading');
	
		// Uncheck all other checkboxes in categories
		document.querySelectorAll('.category-listing input[type="checkbox"]').forEach(cb => {
			if (cb !== checkbox) cb.checked = false;
		});
	
		// Clear subcategories and brands if a new category is selected
		clearSubcategories();
		clearBrands();
	
		if (checkbox.checked) {
			// Fetch and display subcategories
			fetch(`/get_subcategories/?category_id=${categoryId}`)
			.then(response => response.json())
			.then(data => {
				if (data.subcategories.length > 0) {
					// Display subcategory heading if not already present
					if (!subcategoryHeading) {
						subcategoryHeading = document.createElement('div');
						subcategoryHeading.classList.add('subcategory-heading');
						subcategoryHeading.innerHTML = '<h3>Subcategories</h3>';
						subcategoryListing.parentNode.insertBefore(subcategoryHeading, subcategoryListing);
					} else {
						subcategoryHeading.style.display = 'block';
					}
	
					// Display subcategories
					data.subcategories.forEach(subcategory => {
						let subcategoryHtml = `
							<div class="col-lg-4 subcategory-item" data-category-id="${categoryId}" data-subcategory-id="${subcategory.id}">
								<ul>
									<li>
										<label class="custom_check">
											<input type="checkbox" name="subcategories" value="${subcategory.id}" onclick="selectSingleSubcategory(this)">
											<span class="checkmark"></span> ${subcategory.category_name}
										</label>
									</li>
								</ul>
							</div>`;
						subcategoryListing.insertAdjacentHTML('beforeend', subcategoryHtml);
					});
				} else {
					// If no subcategories, hide the heading and section
					if (subcategoryHeading) {
						subcategoryHeading.style.display = 'none';
					}
					subcategoryListing.innerHTML = '';
				}
			});
		} else {
			// Clear subcategories if the category is unchecked
			clearSubcategories();
		}
	}
	
	function selectSingleSubcategory(subcategoryCheckbox) {
		// Uncheck all other subcategory checkboxes
		document.querySelectorAll('.subcategory-listing input[type="checkbox"]').forEach(cb => {
			if (cb !== subcategoryCheckbox) cb.checked = false;
		});
	
		clearBrands();
	
		if (subcategoryCheckbox.checked) {
			loadBrands(subcategoryCheckbox);
		}
	}
	
	function loadBrands(subcategoryCheckbox) {
		let subcategoryId = subcategoryCheckbox.value;
		let brandListing = document.querySelector('.brand-listing');
		let brandHeading = document.querySelector('.brand-heading');
	
		// Static data for brands
		let data = {
			1: ['Pulsar', 'Bajaj', 'Yamaha'],
			2: ['Honda', 'Suzuki', 'Kawasaki'],
			3: ['Royal Enfield', 'Harley Davidson', 'Ducati']
		};
	
		let moreData = data[subcategoryId] || [];
	
		if (moreData.length > 0) {
			// Display "Select Brand" heading if not already present
			if (!brandHeading) {
				brandHeading = document.createElement('div');
				brandHeading.classList.add('brand-heading');
				brandHeading.innerHTML = '<h4>Select Brand</h4>';
				brandListing.parentNode.insertBefore(brandHeading, brandListing);
			} else {
				brandHeading.style.display = 'block';
			}
	
			// Display brands
			moreData.forEach(item => {
				let brandHtml = `
					<div class="col-lg-4 brand-item" data-subcategory-id="${subcategoryId}" data-brand="${item}">
						<ul>
							<li>
								<label class="custom_check">
									<input type="checkbox" name="brands" value="${item}" onclick="selectSingleBrand(this)">
									<span class="checkmark"></span> ${item}
								</label>
							</li>
						</ul>
					</div>`;
				brandListing.insertAdjacentHTML('beforeend', brandHtml);
			});
		} else {
			// If no brands, hide the heading and section
			if (brandHeading) {
				brandHeading.style.display = 'none';
			}
			brandListing.innerHTML = '';
		}
	}
	
	function selectSingleBrand(brandCheckbox) {
		// Uncheck all other brand checkboxes
		document.querySelectorAll('.brand-listing input[type="checkbox"]').forEach(cb => {
			if (cb !== brandCheckbox) cb.checked = false;
		});
	}
	
	function clearSubcategories() {
		// Remove all subcategory items and hide the subcategory heading
		let subcategoryItems = document.querySelectorAll('.subcategory-item');
		subcategoryItems.forEach(item => item.remove());
	
		let subcategoryHeading = document.querySelector('.subcategory-heading');
		if (subcategoryHeading) {
			subcategoryHeading.style.display = 'none';
		}
	}
	
	function clearBrands() {
		// Remove all brand items and hide the brand heading
		let brandItems = document.querySelectorAll('.brand-item');
		brandItems.forEach(item => item.remove());
	
		let brandHeading = document.querySelector('.brand-heading');
		if (brandHeading) {
			brandHeading.style.display = 'none';
		}
	}
	
</script>	
	
	
	{% endblock %}
