{% extends 'base.html' %}

{% load static %}
{% block title %}
<title>Add Listings</title>
{% endblock %}
{% block content %}
<body>

	
	<div class="main-wrapper">
	
		<!-- Header -->
		<header class="header">
			{% include 'includes/header.html' %}
		</header>
		<!-- /Header -->
		{% include 'includes/alert.html' %}
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
			    	    <h2 class="breadcrumb-title">Add Listing</h2>
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Add Listing</li>
							</ol>
						</nav>							
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->
		
		<!-- Profile Content -->
        <div class="dashboard-content listing-section ">		
			<div class="container">
				{% include 'includes/dashboard.html' %}
				<div class="profile-content">
				    <div class="messages-form">

						<form action='{% url "add_listing" %}' id="myForm" method="POST" enctype="multipart/form-data">
								{% csrf_token %}

							<div class="card">
								<div class="card-header">
									<h4>Basic information</h4>							
								</div>


								

								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label">Listing Title <span>*</span></label>								    
										<input type="text"  class="form-control pass-input" placeholder="Title" name='product_name'>									   
									</div>
									<div class="form-group">
										<label class="col-form-label">Listing Description <span>*</span></label>
										<textarea rows="6" class="form-control listingdescription" placeholder="Message" name='description'></textarea>												
									</div>
									<div class="form-group">
										<label class="col-form-label label-heading">Category</label>
										<div class="row category-listing">
											{% for category in categories %}
												{% if forloop.counter0|divisibleby:4 %}
													<div class="col-lg-4">
														<ul>
												{% endif %}
														<li>
															<label class="custom_check">
																<input type="radio" name="categories" value="{{ category.id }}" onclick="loadSubcategories(this)">
																<span class="checkmark"></span> {{ category.category_name }}
															</label>
														</li>
												{% if forloop.counter|divisibleby:4 or forloop.last %}
														</ul>
													</div>
												{% endif %}
											{% endfor %}
										</div>
										
										<div class="subcategory-wrapper">
											<!-- Subcategory heading will be inserted here -->
											<div class="row subcategory-listing">
												<!-- Subcategories will be loaded here dynamically -->
											</div>
										</div>

										<div class="brand-wrapper">
											<!-- Brand heading and listing will be inserted here -->
											<div class="row brand-listing">
												<!-- Brands will be loaded here dynamically -->
											</div>
										</div>
										
										
									</div>
									
									<div class="form-group formlast-input">
										<label class="col-form-label label-heading">Tagline</label>								    
										<textarea rows="2" class="form-control tagline" placeholder="" name='tagline'></textarea>									   
									</div>					
								</div>   							
							</div>	
							<div class="card">
								<div class="card-header">
									<h4>Basic information</h4>							
								</div>
								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label">Price Range</label>								    
										<input type="text"  class="form-control pass-input" placeholder="enter a price" name='price'>									   
									</div>
									
								</div>
							</div>	
							<div class="card">
								<div class="card-header">
									<h4>Features information</h4>							
								</div>
								<div class="card-body">
									<div class="form-group featuresform-list mb-0">
										<ul>

											{% for feature in features %}
											<li>
												<label class="custom_check">
													<input type="checkbox" name="features" value="{{feature.id}}"> 
													<span class="checkmark"></span>{{feature.name}}
												</label>
											</li>
											{% endfor %}
											
																					
										</ul>	
										<div class="clearfix"></div>   									
									</div>								
								</div>
							</div>					
							<div class="card">
								<div class="card-header">
									<h4>Location information</h4>							
								</div>
								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label">Location</label>								    
										<input type="text" class="form-control" value="" name='location'>									   
									</div>
									<div class="form-group">
										<label class="col-form-label">Address</label>								    
										<input type="text" class="form-control" value="" name='address'>									   
									</div> 
									<div class="form-group">
										<label class="col-form-label">Map Address</label>								    
										<input type="text" class="form-control" value="8697-8747 Stirling Rd, Florida" name='map_address'>									   
									</div> 	
									<div class="listing-map">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.6461688381!2d-80.26548188573862!3d26.045130803169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a862f9831459%3A0xafcb9384c02e8b75!2s8697%20Stirling%20Rd%2C%20Cooper%20City%2C%20FL%2033328%2C%20USA!5e0!3m2!1sen!2sin!4v1671519522101!5m2!1sen!2sin" width="100" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>								
									</div>	
									<div class="row">
										<div class="col-lg-6 col-md-6">									     
											<div class="form-group formlast-input lat-input">
												<input type="text" class="form-control" value="26.045197767574102" name='longitude'>									   
											</div>
										</div>
										<div class="col-lg-6 col-md-6">									     
											<div class="form-group formlast-input">
												<input type="text" class="form-control" value="-80.26095677163161" name='latitude'>									   
											</div>
										</div>
									</div>								
								</div>
							</div>	
							<div class="card">
								<div class="card-header">
									<h4>Contact Information </h4>							
								</div>
								<div class="card-body">
									<div class="form-group">
										<label class="col-form-label">Email </label>								    
										<input type="text" class="form-control pass-input" placeholder="" name='email'>									   
									</div>
									<div class="form-group">
										<label class="col-form-label">Website </label>
										<input type="text" class="form-control pass-input" placeholder="" name='websites'>												
									</div>
									<div class="form-group formlast-input">
										<label class="col-form-label">Phone </label>
										<input type="text" class="form-control pass-input" placeholder="" name='phone_number'>												
									</div>								
								</div>
							</div>
							


							<div class="card media-section">
								<div class="card-header">
									<h4>Media Information</h4>
								</div>
								<div class="card-body">
									 <div class="row">
										<div class="col-lg-6 col-md-6 featured-img1">
											<h6 class="media-title">Featured Image</h6>
											<div class="media-image">
												<img src="{% static 'assets/img/mediaimg-2.jpg' %}" alt="Featured Image">
											</div>
											<div class="settings-upload-btn">
												<input type="file" accept="image/*" name="cover_image" class="hide-input image-upload" id="file">
												<label for="file" class="file-upload">Upload File</label>
											</div>
										</div>
									
									</div>
									<div class="gallery-media">
										<h6 class="media-title">Gallery</h6>
										<div class="galleryimg-upload" id="gallery-preview">
											<!-- Initially displayed static images with a unique class -->
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-1.jpg' %}" class="img-fluid" alt="Gallery Image 1">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-2.jpg' %}" class="img-fluid" alt="Gallery Image 2">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-3.jpg' %}" class="img-fluid" alt="Gallery Image 3">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-4.jpg' %}" class="img-fluid" alt="Gallery Image 4">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
											<div class="gallery-upload static-image">
												<img src="{% static 'assets/img/gallery/gallerymedia-5.jpg' %}" class="img-fluid" alt="Gallery Image 5">
												<a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>
											</div>
										</div>
										<div class="settings-upload-btn">
											<input type="file" accept="image/*" name="gallery_images" class="hide-input image-upload" id="gallery-upload" multiple>
											<label for="gallery-upload" class="file-upload">Upload File</label>
										</div>
									</div>
									
									
									
									
								</div>
							</div>
							<button class="btn btn-primary" type="submit"> Submit</button>	
						</form>					
					</div>			
				</div>
			</div>		
		</div>		
		<!-- /Profile Content -->
		
				<!-- Footer -->
		{% include 'includes/footer.html' %}
		<!-- /Footer -->	
	   
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	    


	<script>

		document.getElementById('gallery-upload').addEventListener('change', function(event) {
			const galleryPreview = document.getElementById('gallery-preview');
			const files = event.target.files;
		
			
			const staticImages = galleryPreview.querySelectorAll('.static-image');
			staticImages.forEach(image => {
				galleryPreview.removeChild(image);
			});
			const currentImages = galleryPreview.querySelectorAll('.gallery-upload').length;
					
			
			if (files.length + currentImages > 5) {
				alert('You can only upload a maximum of 5 photos.');
				return;
			}
		
			Array.from(files).forEach(file => {
				const reader = new FileReader();
		
				reader.onload = function(e) {
					const imageContainer = document.createElement('div');
					imageContainer.className = 'gallery-upload';
					// Get the current number of images in the gallery
		

		
					const img = document.createElement('img');
					img.src = e.target.result;
					img.className = 'img-fluid';
					img.alt = 'Gallery Image';
		
					const removeBtn = document.createElement('a');
					removeBtn.href = 'javascript:void(0)';
					removeBtn.className = 'profile-img-del';
					removeBtn.innerHTML = '<i class="feather-trash-2"></i>';
					
					removeBtn.addEventListener('click', function() {
						galleryPreview.removeChild(imageContainer);
					});
		
					imageContainer.appendChild(img);
					imageContainer.appendChild(removeBtn);
		
					galleryPreview.appendChild(imageContainer);
				};
		
				reader.readAsDataURL(file);
			});
		});
		
		
		
	</script>

<script>
	function loadSubcategories(checkbox) {
		let categoryId = checkbox.value;
		let subcategoryListing = document.querySelector('.subcategory-listing');
		let subcategoryHeading = document.querySelector('.subcategory-heading');
	
		// Uncheck all other checkboxes in categories
		// Clear subcategories and brands if a new category is selected
		clearSubcategories();
		clearBrands();
	
		if (checkbox.checked) {
			// Fetch and display subcategories
			fetch(`/get_subcategories/?category_id=${categoryId}`)
			.then(response => response.json())
			.then(data => {
				if (data.subcategories.length > 0) {
					// Display subcategory heading if not already present
					if (!subcategoryHeading) {
						subcategoryHeading = document.createElement('div');
						subcategoryHeading.classList.add('subcategory-heading');
						subcategoryHeading.innerHTML = '<h3>Subcategories</h3>';
						subcategoryListing.parentNode.insertBefore(subcategoryHeading, subcategoryListing);
					} else {
						subcategoryHeading.style.display = 'block';
					}
	
					// Display subcategories
					data.subcategories.forEach(subcategory => {
						let subcategoryHtml = `
							<div class="col-lg-4 subcategory-item" data-category-id="${categoryId}" data-subcategory-id="${subcategory.id}">
								<ul>
									<li>
										<label class="custom_check">
											<input type="radio" name="subcategories" value="${subcategory.id}" onclick="selectSingleSubcategory(this)">
											<span class="checkmark"></span> ${subcategory.category_name}
										</label>
									</li>
								</ul>
							</div>`;
						subcategoryListing.insertAdjacentHTML('beforeend', subcategoryHtml);
					});
				} else {
					// If no subcategories, hide the heading and section
					if (subcategoryHeading) {
						subcategoryHeading.style.display = 'none';
					}
					subcategoryListing.innerHTML = '';
				}
			});
		} else {
			// Clear subcategories if the category is unchecked
			clearSubcategories();
		}
	}

	
	function selectSingleSubcategory(subcategoryCheckbox) {
		clearBrands();
		loadBrands(subcategoryCheckbox);
	}
	
function loadBrands(subcategoryCheckbox) {
    let subcategoryId = subcategoryCheckbox.value;

    let brandListing = document.querySelector('.brand-listing');
    let brandHeading = document.querySelector('.brand-heading');

    // Clear any existing brand items
    brandListing.innerHTML = '';
    if (brandHeading) {
        brandHeading.style.display = 'none';
    }

    // Make a fetch request to get brands based on the selected subcategory
    fetch(`{% url 'get_category_options' %}?subcategory_id=${subcategoryId}`)
        .then(response => response.json())
        .then(data => {
			console.log(data.fields)
			if (data.fields && data.fields.length > 0) {
                // Display "Select Brand" heading if not already present
                if (!brandHeading) {
                    brandHeading = document.createElement('div');
                    brandHeading.classList.add('brand-heading');
                    brandHeading.innerHTML = '<h4 style="margin-bottom:1.2rem;">Enter Features</h4>';
                    brandListing.parentNode.insertBefore(brandHeading, brandListing);
                } else {
                    brandHeading.style.display = 'block';
                }

                // Display brands
data.fields.forEach(field => {
    let fieldHtml = '';

	console.log(field.field_type)
    if (field.field_type === 'text') {
        // For text input
		fieldHtml = `
    <div style="margin-bottom:20px" class="field-item mb-3" data-subcategory-id="${subcategoryId}">
        <ul class="list-unstyled">
            <li>
                <label style="font-weight:600;font-size:1.1rem;" class="d-block mb-1">
                    ${field.field_name} ${field.mandatory ? '(*)' : '(optional)'}
                </label>
                <input type="text" 
                       class="form-control" 
                       name="data" 
					   placeholder="${field.field_name}"
					    data-name="${field.field_name}"
                       ${field.mandatory ? 'required' : ''} />
            </li>
        </ul>
    </div>`;

    } else if (field.field_type === 'select') {
fieldHtml += `
    <div style="margin-bottom:20px;" class="field-item">
        <div class="dropdown">
		 <label style="font-weight:600;font-size:1.1rem;margin-bottom:0.5rem;" class="d-block mb-1">
                    ${field.field_name} ${field.mandatory ? '(*)' : '(optional)'}
                </label>
			<select name="data" data-name='${field.field_name}' ${field.mandatory ? 'required' : ''} onchange="onChangeOption(this)"  style="padding:1.2rem;" class="form-select main-select">
                <option value="">Select ${field.field_name}</option>
                ${field.options.map(option => `
                    <option value="${option.value}">${option.value}</option>
                `).join('')}
            </select>
        </div>`;

        fieldHtml += `<div class="extras-container" style="display: none;">`;
        field.options.forEach(option => {
            if (option.extras) {
                option.extras.forEach(extra => {
                    fieldHtml += `
                        <div class="dropdown mt-2 extra-dropdown" data-parent-value="${option.value}">
                            <label style='font-weight:600;font-size:1.1rem'>${extra.menu_text}</label>
							<select data-name="${extra.menu_text}" name="data" ${extra.mandatory ? 'required' : ''} ${extra.disabled ? 'disabled' : ''}  style="padding:1.2rem;" class="form-select">
                                <option value="">Select ${extra.menu_text}</option>
                                ${extra.content.map(content => `
                                    <option value="${content.name}">${content.name}</option>
                                `).join('')}
                            </select>
                        </div>`;
                });
            }
        });
        fieldHtml += `</div></div>`;  // Close extras container and field-item
	}
	else if (field.field_type=='select_multiple'){
fieldHtml += `
    <div style="margin-bottom:20px;" class="field-item">
        <div class="dropdown">
		 <label style="font-weight:600;font-size:1.1rem;margin-bottom:0.5rem;" class="d-block mb-1">
                    ${field.field_name} ${field.mandatory ? '(*)' : '(optional)'}
                </label>
			<select multiple name="data" data-name='${field.field_name}' ${field.mandatory ? 'required' : ''} onchange="onChangeOption(this)"  style="padding:1.2rem;" class="form-select main-select">
                ${field.options.map(option => `
                    <option value="${option.value}">${option.value}</option>
                `).join('')}
            </select>
        </div>`;

        fieldHtml += `<div class="extras-container" style="display: none;">`;
        field.options.forEach(option => {
            if (option.extras) {
                option.extras.forEach(extra => {
                    fieldHtml += `
                        <div class="dropdown mt-2 extra-dropdown" data-parent-value="${option.value}">
                            <label style='font-weight:600;font-size:1.1rem'>${extra.menu_text}</label>
							<select  data-name="${extra.menu_text}" name="data" ${extra.mandatory ? 'required' : ''} ${extra.disabled ? 'disabled' : ''}  style="padding:1.2rem;" class="form-select">
                                <option value="">Select ${extra.menu_text}</option>
                                ${extra.content.map(content => `
                                    <option value="${content.name}">${content.name}</option>
                                `).join('')}
                            </select>
                        </div>`;
                });
            }
        });
        fieldHtml += `</div></div>`;  // Close extras container and field-item


	}else if(field.field_type=='text_area') {

	fieldHtml = `
    <div style="margin-bottom:20px" class="field-item mb-3" data-subcategory-id="${subcategoryId}">
        <ul class="list-unstyled">
            <li>
                <label style="font-weight:600;font-size:1.1rem;" class="d-block mb-1">
                    ${field.field_name} ${field.mandatory ? '(*)' : '(optional)'}
                </label>
                <textarea type="text" 
                       class="form-control" 
                       name="data" 
					   placeholder="${field.field_name}"
					    data-name="${field.field_name}"
					   ${field.mandatory ? 'required' : ''} ></textarea>
            </li>
        </ul>
    </div>`;

	}  

    // Append the generated HTML to the appropriate container
    document.querySelector('.brand-listing').insertAdjacentHTML('beforeend', fieldHtml);
});

            }
        })
        .catch(error => {
            console.error('Error fetching brands:', error);
        });
}


	function selectSingleBrand(brandCheckbox) {
		// Uncheck all other brand checkboxes
		document.querySelectorAll('.brand-listing input[type="checkbox"]').forEach(cb => {
			if (cb !== brandCheckbox) cb.checked = false;
		});
	}
	
	function clearSubcategories() {
		// Remove all subcategory items and hide the subcategory heading
		let subcategoryItems = document.querySelectorAll('.subcategory-item');
		subcategoryItems.forEach(item => item.remove());
	
		let subcategoryHeading = document.querySelector('.subcategory-heading');
		if (subcategoryHeading) {
			subcategoryHeading.style.display = 'none';
		}
	}
	
	function clearBrands() {
		// Remove all brand items and hide the brand heading
		let brandItems = document.querySelectorAll('.brand-item');
		brandItems.forEach(item => item.remove());
	
		let brandHeading = document.querySelector('.brand-heading');
		if (brandHeading) {
			brandHeading.style.display = 'none';
		}
	}
	
</script>	
		<script>
function onChangeOption(selectElement) {
    const selectedValue = selectElement.value;
    console.log("Selected Value:", selectedValue);
    
    // Find the closest field-item container
    const fieldContainer = selectElement.closest('.field-item');
    if (!fieldContainer) {
        console.error("Field container not found.");
        return;
    }
    
    const extrasContainer = fieldContainer.querySelector('.extras-container');
    if (!extrasContainer) {
        console.error("Extras container not found.");
        return;
    }

    // Hide all extra dropdowns
    extrasContainer.querySelectorAll('.extra-dropdown').forEach(dropdown => {
        dropdown.style.display = 'none';
    });

    // Show the related extra dropdown based on the selected value
    const relatedExtraDropdowns = extrasContainer.querySelectorAll(`.extra-dropdown[data-parent-value="${selectedValue}"]`);
    relatedExtraDropdowns.forEach(dropdown => {
        dropdown.style.display = 'block';
    });

    // Show or hide the extras container itself
    extrasContainer.style.display = relatedExtraDropdowns.length > 0 ? 'block' : 'none';
}
</script>
	<script>
document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission

    const formElements = document.querySelectorAll('[name="data"]');
    const formData = [];

    formElements.forEach(el => {
        const fieldName = el.getAttribute('data-name');
		
		if (el.multiple) {
            // Handle multiple select
            const selectedOptions = Array.from(el.selectedOptions).map(option => option.value);
            if (selectedOptions.length > 0) {
                formData.push(`${fieldName}:${selectedOptions.join(',')}`);
            }
		}
		else {

        	const value = el.value;
			if(fieldName && value) {
            // Format as "field_name:value" and add to the list
            formData.push(`${fieldName}:${value}`);
				
        }
		}}); 
	    const jsonData = JSON.stringify(formData);

    // Create a FormData object to include the JSON data
    const formDataObject = new FormData(this);
    formDataObject.append('form_data', jsonData);
    // Convert the form data to JSON

    fetch(this.action, {
        method: 'POST',
        body: formDataObject,
        headers: {
            'X-CSRFToken': document.querySelector('[name="csrfmiddlewaretoken"]').value // Add CSRF token if needed
        }
    }).then(response => response.json())
      .then(data => {
          console.log('Form submitted successfully', data);
		  if (data.status){
			  window.location.href="/add_listing"
		  }
      }).catch(error => {
          console.error('Error submitting form', error);
      });
});
	</script>


	
	
	{% endblock %}
