{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

	
	<div class="main-wrapper innerpagebg">
	
		<!-- Header -->
		<header class="header">
		{% include 'includes/header.html' %}
		</header>
		<!-- /Header -->
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
			    	    <h2 class="breadcrumb-title">Bookmarks</h2>
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Bookmarks</li>
							</ol>
						</nav>							
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->
		
		<!-- Bookmark Content -->
        <div class="dashboard-content">		
			<div class="container">
				{% include 'includes/dashboard.html' %}
				<div class="bookmarks-content grid-view featured-slider">
					<div class="row">
						{% for mark in book_marks %}
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="card aos aos-init aos-animate" data-aos="fade-up">
								<div class="blog-widget">
									<div class="blog-img">
										<a href="service-details.html">
											<img src="{{mark.product.cover_image.url}}" class="img-fluid" alt="blog-img">
										</a>
										<div class="fav-item">
											<span class="featured-text">Featured</span>
											<a href="javascript:void(0)" class="fav-icon">
												<i class="feather-heart"></i>
											</a>										
										</div>	
									</div>
									<div class="bloglist-content">
										<div class="card-body">
											<div class="blogfeaturelink">
												<div class="grid-author">
													<img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="author">	
												</div>
												<div class="blog-features">
													<a href="javascript:void(0)"><span> <i class="fa-regular fa-circle-stop"></i>{{mark.category.category_name}}</span></a>
												</div>																	  
												<div class="blog-author text-end"> 
													<span><img src="{% static 'assets/img/eye.svg' %}" alt="electronics">{{mark.view_coutn}}</span>
												</div>
											</div> 
											<h6><a href="service-details.html">{{mark.product.product_name}}</a></h6>																	 
											<div class="blog-location-details">
												<div class="location-info">
													<i class="feather-map-pin"></i> Los Angeles
												</div>
												<div class="location-info">
													<i class="fa-solid fa-calendar-days"></i>{{mark.product.created_date}}
												</div>
											</div>
											<div class="amount-details">
												<div class="amount">
													<span class="validrate">AED {{mark.product.price}}</span>
													<span>$450</span>
												</div>
												<div class="ratings">
													<span>4.7</span> (50)
												</div>												
											</div>	
										</div>	
									</div>			 
								</div> 
							</div>
						</div>

						{% endfor %}
						
					</div>
					<!--Pagination--> 
					<div class="blog-pagination">
						<nav>
							<ul class="pagination">
								<!-- Previous button: disable if on the first page -->
								<li class="page-item previtem {% if not page_obj.has_previous %}disabled{% endif %}">
									<a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
										<i class="fas fa-regular fa-arrow-left"></i> Prev
									</a>
								</li>
					
								<!-- Page numbers -->
								<li class="justify-content-center pagination-center"> 
									<div class="pagelink">
										<ul>
											{% for num in page_obj.paginator.page_range %}
												{% if page_obj.number == num %}
													<!-- Current page -->
													<li class="page-item active">
														<a class="page-link" href="#">{{ num }} <span class="visually-hidden">(current)</span></a>
													</li>
												{% else %}
													<!-- Other pages -->
													<li class="page-item">
														<a class="page-link" href="?page={{ num }}">{{ num }}</a>
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>													
								</li>
					
								<!-- Next button: disable if on the last page -->
								<li class="page-item nextlink {% if not page_obj.has_next %}disabled{% endif %}">
									<a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
										Next <i class="fas fa-regular fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					
					<!--/Pagination-->	
											
				</div>
			</div>		
		</div>		
		<!-- /Bookmark Content -->
		
			
		<!-- Footer -->
		{% include 'includes/footer.html' %}
		<!-- /Footer -->
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	
	
	{% endblock %}