{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

	
	<div class="main-wrapper innerpagebg">
	
		<!-- Header -->
		<header class="header">
		{% include 'includes/header.html' %}
		</header>
		<!-- /Header -->
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
						<h2 class="breadcrumb-title">{{user_to_view.full_name}} Bookmarks</h2>
						{% if not user_to_view %}
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Bookmarks</li>
							</ol>
						</nav>							
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->
		
		<!-- Bookmark Content -->
        <div class="dashboard-content">		
			<div class="container">
				{% include 'includes/dashboard.html' %}
				<div class="bookmarks-content grid-view featured-slider">

					<div id="productContainerWrapper" class="row">
					{% for mark in book_marks %}
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="card aos aos-init aos-animate" data-aos="fade-up">
								<div class="blog-widget">
									<div class="blog-img">
										<a href="{% url 'service_detail' mark.product.slug %}">
											<img src="{{mark.product.cover_image.url}}" class="img-fluid" alt="blog-img">
										</a>
										<div class="fav-item" data-id="{{ product.id }}">
											<span class="featured-text">Featured</span>
											<a href="javascript:void(0)" class="fav-icon">
												<i class="feather-heart" 
												   style="
												    {% if mark.product.id in book_mark %}
													  width: 35px!important;
													   height: 35px!important;
													   color: #ffffff!important;
													   border-radius: 50%!important;
													   background: #c10037!important;
													   display: flex!important;
													   align-items: center!important;
													   justify-content: center!important; 
													{% else %}
													 
													  
														   
														   color: #ffffff!important;
													{% endif %}
												   ">
												</i>
											</a>     
										</div>
										
										
										<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

									</div>
									<div class="bloglist-content">
										<div class="card-body">
											<div class="blogfeaturelink">
												<div class="grid-author">
													{% if mark.product.created_by.profile.profile_photo %}
													<img src="{{mark.product.created_by.profile.profile_photo.url}}" alt="author">
													{% else %}
													<img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="author">
													{% endif %}
												</div>
												<div class="blog-features">
                                                    <a href="javascript:void(0)"><span> <i class="fa-regular fa-circle-stop"></i> {{mark.product.category.category_name}}</span></a>
												</div>																	  
												<div class="blog-author text-end"> 
                                                    <span><img style="width:20px;"src="{% static 'assets/img/eye.svg' %}" alt="electronics">{{mark.product.view_count}}</span>

												</div>
											</div> 
											<h6><a href="{% url 'service_detail' mark.product.slug %}">{{mark.product.product_name}}</a></h6>																	 
											<div class="blog-location-details">
												<div class="location-info">
                                                    <i class="feather-map-pin"></i> {{mark.product.location}}
												</div>
												<div class="location-info">
													<i class="fa-solid fa-calendar-days"></i>{{mark.product.created_date|date}}

												</div>
											</div>
											<div class="amount-details">
												<div class="amount">
													<span class="validrate">AED {{mark.product.price}}</span>
													<span>AED 450</span>
												</div>
											</div>	
										</div>	
									</div>			 
								</div> 
							</div>
						</div>

						{% endfor %}
	
						
					</div>
					<!--Pagination--> 
					<div class="blog-pagination">
						<nav>
							<ul id="paginationClick" class="pagination">
								<!-- Previous button: disable if on the first page -->
								<li class="page-item previtem {% if not page_obj.has_previous %}disabled{% endif %}">
									<a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
										<i class="fas fa-regular fa-arrow-left"></i> Prev
									</a>
								</li>
					
								<!-- Page numbers -->
								<li class="justify-content-center pagination-center"> 
									<div class="pagelink">
										<ul>
											{% for num in page_obj.paginator.page_range %}
												{% if page_obj.number == num %}
													<!-- Current page -->
													<li class="page-item active">
														<a class="page-link" href="#">{{ num }} <span class="visually-hidden">(current)</span></a>
													</li>
												{% else %}
													<!-- Other pages -->
													<li class="page-item">
														<a class="page-link" href="?page={{ num }}">{{ num }}</a>
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									</div>													
								</li>
					
								<!-- Next button: disable if on the last page -->
								<li class="page-item nextlink {% if not page_obj.has_next %}disabled{% endif %}">
									<a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
										Next <i class="fas fa-regular fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					
					<!--/Pagination-->	
											
				</div>
			</div>		
		</div>		
		<!-- /Bookmark Content -->
		
			
		<!-- Footer -->
		{% include 'includes/footer.html' %}
		{% include 'includes/pagination_script.html' %}
		<!-- /Footer -->
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			document.querySelectorAll('.fav-icon').forEach(function(icon) {
				icon.addEventListener('click', function() {
					var itemId = this.closest('.fav-item').getAttribute('data-id');
					var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
		
					fetch('/ad/toggle-bookmark/', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': csrftoken 
						},
						body: JSON.stringify({ id: itemId })
					})
					.then(response => {
						if (response.redirected) {
							// If the response is redirected, navigate to the login page
							window.location.href = response.url;
						} else {
							return response.json();
						}
					})
					.then(data => {
						console.log(data, 'data');
						if (data.success) {
							this.querySelector('i').classList.toggle('favorited');  // Change icon state
						} else {
							console.error('Failed to favorite item.');
						}
					})
					.catch(error => console.error('Error:', error));
				});
			});
		});
		
	</script>
	
	{% endblock %}
