{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Dashboard</title>
{% endblock %}
{% block content %}
<body>

	
	<div class="main-wrapper innerpagebg">
	
		<!-- Header -->
		<header style="padding-bottom:10px;" class="header">
		{% include 'includes/header.html'  %}
		</header>
		<!-- /Header -->
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
						<h2 class="breadcrumb-title">{{user_to_view.full_name}} Dashboard</h2>
						{% if not type %}
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
							</ol>
						</nav>							
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->
		
		<!-- Dashboard Content -->
        <div class="dashboard-content">        
			<div class="container">
				{% include 'includes/dashboard.html' %}

				<div class="dashboard-details">
					<div class="row">
						<div class="col-lg-3 col-md-3">
							<div class="card dash-cards">
								<div class="card-body">
									<div class="dash-top-content">
										<div class="dashcard-img">
											<img src="{% static 'assets/img/icons/verified.svg' %}" class="img-fluid" alt="">
										</div>
									</div>
									<div class="dash-widget-info">
										<h6>Active Listing</h6>
										<h3 class="counter">{{total_product}}</h3>
									</div>
								</div>                                    
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="card dash-cards">
								<div class="card-body">
									<div class="dash-top-content">
										<div class="dashcard-img">
											<img src="{% static 'assets/img/icons/rating.svg' %}" class="img-fluid" alt="">
										</div>
									</div>
									<div class="dash-widget-info">
										<h6>Total Reviews</h6>
										<h3>{{reviews_count}}</h3>
									</div>
								</div>                                    
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="card dash-cards">
								<div class="card-body">
									<div class="dash-top-content">
										<div class="dashcard-img">
											<img src="{% static 'assets/img/icons/chat.svg' %}" class="img-fluid" alt="">
										</div>
									</div>
									<div class="dash-widget-info">
										<h6>Total Page View</h6>
										<h3>{{total_views}}</h3>
									</div>
								</div>                                    
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="card dash-cards">
								<div class="card-body">
									<div class="dash-top-content">
										<div class="dashcard-img">
											<img src="{% static 'assets/img/icons/bookmark.svg' %}" class="img-fluid" alt="">
										</div>
									</div>
									<div class="dash-widget-info">
										<h6>Bookmark</h6>
										<h3>{{bookmarks_count}}</h3>
									</div>
								</div>                                    
							</div>
						</div>
					</div>    
					<div class="row dashboard-info">
						<div class="col-lg-6 d-flex">
							<div class="card dash-cards w-100">
								<div class="card-header">
									<h4>Page Views</h4>
									<div class="card-dropdown">
										<ul>
											<li class="nav-item dropdown has-arrow logged-item">
												<a href="#" class="dropdown-toggle pageviews-link" data-bs-toggle="dropdown" aria-expanded="false">
													<span>This week</span>
												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="javascript:void();">Next Week</a>
													<a class="dropdown-item" href="javascript:void()">Last Month</a>
													<a class="dropdown-item" href="javascript:void()">Next Month</a>
												</div>
											</li>
										</ul>
									</div>                                
								</div>    
								<div class="card-body">
									<div id="review-chart"></div>                                
								</div>                            
							</div>                         
						</div>
						<div class="col-lg-6 d-flex">
							<div class="card dash-cards w-100">
								<div class="card-header">
									<h4>Latest Visitor Reviews</h4>
									<div class="card-dropdown">
									</div>                                
								</div>    
								<div class="card-body">
									<ul class="review-list">
										{% for review in reviews_list %}
										<li class="review-box">
											<div class="review-profile">
												<div class="review-img">
													<img src="{{review.created_by.profile.profile_photo.url}}" class="img-fluid" alt="img">
												</div>                                                            
											</div>
											<div class="review-details">
												<h6>{{review.created_by.full_name}}</h6>
												<div class="rating">
													<div class="rating-star">
														<i class="fa fa-star {% if review.rating >= 1 %}filled {% endif %}"aria-hidden="true"></i>
														<i class="fa fa-star {% if review.rating >= 2 %}filled {% endif %}"aria-hidden="true"></i>
														<i class="fa fa-star {% if review.rating >= 3 %}filled {% endif %}"aria-hidden="true"></i>
														<i class="fa fa-star {% if review.rating >= 4 %}filled {% endif %}"aria-hidden="true"></i>
														<i class="fa fa-star {% if review.rating >= 5 %}filled {% endif %}"aria-hidden="true"></i>
													</div>                                        
													<div><i class="fa-sharp fa-solid fa-calendar-days"></i> {{review.created_at|date}} </div>

												</div>        
												<p>{{review.review}}</p>                                                                    
											</div>
										</li>    
										{% endfor %}
									</ul>                                
								</div>                                
							</div>                             
						</div>                    
					</div>                     
				</div>                
			</div>                
		</div>
						
	    <!-- /Dashboard Content -->	
							
		<!-- Footer -->
	{% include 'includes/footer.html' %}
		<!-- /Footer -->
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->	
	
	{% endblock %}
