{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Reviews</title>
{% endblock %}
{% block content %}

<body>
	<div class="main-wrapper innerpagebg">
		<!-- Header -->
		<header class="header">
			{% include 'includes/header.html' %}
		</header>
		<!-- /Header -->
		
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
						<h2 class="breadcrumb-title">{{user_to_view.full_name}} Reviews</h2>
						{% if not user_to_view %}
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Reviews</li>
							</ol>
						</nav>							
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->
		
		<!-- Reviews Content -->
        <div class="dashboard-content">		
			<div class="container">
		{% include 'includes/dashboard.html' %}
		<div class="row dashboard-info reviewpage-content">
			<div class="col-lg-6">
			   <div class="card dash-cards">
					<div class="card-header">
						<h4>Visitor Reviews</h4>
					</div>	
					<div class="card-body">
						<ul class="review-list">
							{% for visitor_review in visitor_reviews_list %}
							<li class="review-box">
								<div class="review-profile">
									<div class="review-img">
										<img src="{{visitor_review.created_by.profile.profile_photo.url}}" class="img-fluid" alt="img">
									</div>															
								</div>
								<div class="review-details">
									<h6>{{visitor_review.created_by.full_name}}</h6>
									<div class="rating">
										<div class="rating-star">

										<i class="fa fa-star {% if visitor_review.rating >= 1 %}filled {% endif %}"aria-hidden="true"></i>
										<i class="fa fa-star {% if visitor_review.rating >= 2 %}filled {% endif %}"aria-hidden="true"></i>
										<i class="fa fa-star {% if visitor_review.rating >= 3 %}filled {% endif %}"aria-hidden="true"></i>
										<i class="fa fa-star {% if visitor_review.rating >= 4 %}filled {% endif %}"aria-hidden="true"></i>
										<i class="fa fa-star {% if visitor_review.rating >= 5 %}filled {% endif %}"aria-hidden="true"></i>
										</div>							        
										<div><i class="fa-sharp fa-solid fa-calendar-days"></i>{{visitor_review.created_at|date}}</div>
									</div>		
									<p>{{visitor_review.review}}</p>																	


									</p>																	
								</div>
							</li>	
							{% endfor %}
						</ul>								
					</div>							
				</div>						 
			</div>
			<div class="col-lg-6 ">
				<div class="card dash-cards">
					<div class="card-header">
						<h4>Your Reviews</h4>
					</div>	
					<div class="card-body">
						<ul class="review-list">
							{% for your_review in your_reviews_list %}
							<li class="review-box">
								<div class="review-profile">
									<div class="review-img">
										<img src="{{your_review.reviewed_for.profile.profile_photo.url}}" class="img-fluid" alt="img">
									</div>															
								</div>
								<div class="review-details">
									<h6>To {{your_review.reviewed_for.full_name}}</h6>
									<div class="rating">
										<div class="rating-star">
										<i class="fa fa-star {% if your_review.rating >= 1 %}filled {% endif %}"aria-hidden="true"></i>
										<i class="fa fa-star {% if your_review.rating >= 2 %}filled {% endif %}"aria-hidden="true"></i>
										<i class="fa fa-star {% if your_review.rating >= 3 %}filled {% endif %}"aria-hidden="true"></i>
										<i class="fa fa-star {% if your_review.rating >= 4 %}filled {% endif %}"aria-hidden="true"></i>
										<i class="fa fa-star {% if your_review.rating >= 5 %}filled {% endif %}"aria-hidden="true"></i>
										</div>							        
										<div><i class="fa-sharp fa-solid fa-calendar-days"></i>{{your_review.created_at|date}}</div>
									</div>		
									<p>{{your_review.review}}</p>																	
								</div>
							</li>	
							{% endfor %}
									</ul>
								</div>
							</li>										
						</ul>								
					</div>								
				 </div>							 
			 </div>					
		</div>
						
			</div>		
		</div>		
		<!-- /Reviews Content -->
		
			
        	<!-- Footer -->
		{% include 'includes/footer.html' %}
		<!-- /Footer -->	  
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	
	
	{% endblock %}
