
{% extends 'admin1/base1.html' %}
{% load static %}
{% block content %}
    <div class="main-wrapper">
    
        <!-- Header -->
        {% include 'admin1/include/header.html' %}
        
        <!-- /Header -->
        
        <!-- Sidebar -->
      {% include 'admin1/include/sidebar.html' %}
        <!-- /Sidebar -->
        
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-userhead">
                                        <div class="home-usercount">
                                            <span><img src="{% static 'admin/assets/img/icons/user.svg' %}" alt="img"></span>
                                            <h6>User</h6>
                                        </div>
                                        <div class="home-useraction">
                                            <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                <li>
                                                    <a href="user-list.html" class="dropdown-item"> View</a>
                                                </li>
                                                <li>
                                                    <a href="edit-user.html" class="dropdown-item"> Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="home-usercontent">
                                        <div class="home-usercontents">
                                            <div class="home-usercontentcount">
                                                <img src="{% static 'admin/assets/img/icons/arrow-up.svg' %}" alt="img" class="me-2">
                                                <span class="counters" data-count="{{user_count}}">{{user_count}}</span>
                                            </div>
                                            <h5> Current Month</h5>
                                        </div>
                                        <div class="homegraph">
                                            <img src="{% static 'admin/assets/img/graph/graph1.png' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user home-provider">
                                    <div class="home-userhead">
                                        <div class="home-usercount">
                                            <span><img src="{% static 'admin/assets/img/icons/user-circle.svg' %}" alt="img"></span>
                                            <h6>Providers</h6>
                                        </div>
                                        <div class="home-useraction">
                                            <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                <li>
                                                    <a href="user-providers.html" class="dropdown-item"> View</a>
                                                </li>
                                                <li>
                                                    <a href="edit-provider.html" class="dropdown-item"> Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="home-usercontent">
                                        <div class="home-usercontents">
                                            <div class="home-usercontentcount">
                                                <img src="{% static 'admin/assets/img/icons/arrow-up.svg' %}" alt="img" class="me-2">
                                                <span class="counters" data-count="25">25</span>
                                            </div>
                                            <h5> Current Month</h5>
                                        </div>
                                        <div class="homegraph">
                                            <img src="{% static 'admin/assets/img/graph/graph2.png' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user home-service">
                                    <div class="home-userhead">
                                        <div class="home-usercount">
                                            <span><img src="{% static 'admin/assets/img/icons/service.svg' %}" alt="img"></span>
                                            <h6>Service</h6>
                                        </div>
                                        <div class="home-useraction">
                                            <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                <li>
                                                    <a href="listings.html" class="dropdown-item"> View</a>
                                                </li>
                                                <li>
                                                    <a href="edit-service.html" class="dropdown-item"> Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="home-usercontent">
                                        <div class="home-usercontents">
                                            <div class="home-usercontentcount">
                                                <img src="{% static 'admin/assets/img/icons/arrow-up.svg' %}" alt="img" class="me-2">
                                                <span class="counters" data-count="{{product_count}}">{{product_count}}</span>
                                            </div>
                                            <h5> Current Month</h5>
                                        </div>
                                        <div class="homegraph">
                                            <img src="{% static 'admin/assets/img/graph/graph3.png' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user home-subscription">
                                    <div class="home-userhead">
                                        <div class="home-usercount">
                                            <span><img src="{% static 'admin/assets/img/icons/money.svg' %}" alt="img"></span>
                                            <h6>Subscription</h6>
                                        </div>
                                        <div class="home-useraction">
                                            <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                <li>
                                                    <a href="membership.html" class="dropdown-item"> View</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="home-usercontent">
                                        <div class="home-usercontents">
                                            <div class="home-usercontentcount">
                                                <img src="{% static 'admin/assets/img/icons/arrow-up.svg' %}" alt="img" class="me-2">
                                                <span class="counters" data-count="650">$650</span>
                                            </div>
                                            <h5> Current Month</h5>
                                        </div>
                                        <div class="homegraph">
                                            <img src="{% static 'admin/assets/img/graph/graph4.png' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user">
                                        <h2>Revenue</h2>
                                        <div class="home-select">
                                            <div class="dropdown">
                                                <button class="btn btn-action btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Monthly
                                                </button>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                                    </li>												
                                                </ul>
                                            </div>
                                            <div class="dropdown">
                                                <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chartgraph">
                                        <div id="chart-view"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user">
                                        <h2>Booking Summary</h2>
                                        <div class="home-select">
                                            <div class="dropdown">
                                                <button class="btn btn-action btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Monthly
                                                </button>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                                    </li>												
                                                </ul>
                                            </div>
                                            <div class="dropdown">
                                                <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chartgraph">
                                        <div id="chart-booking"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user">
                                        <h2>Income</h2>
                                        <div class="home-select">
                                            <div class="dropdown">
                                                <button class="btn btn-action btn-sm dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                                                    Monthly
                                                </button>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                                    </li>												
                                                </ul>
                                            </div>
                                            <div class="dropdown">
                                                <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chartgraph">
                                        <div id="chart-incomes"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Top Services</h2>
                                        <a href="{% url 'ads' %}" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="table-responsive datatable-nofooter">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Service</th>
                                                <th>Category</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in products %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <a href="{% url 'ads_details' product.slug %}" class="table-imgname">
                                                        <img src="{{product.cover_image.url}}" class="me-2" alt="img">
                                                        <span>{{product.product_name|truncatechars:20}}</span>
                                                    </a>
                                                </td>
                                                <td>{{product.category.category_name}}</td>
                                                <td>AED{{product.price}}</td>
                                            </tr>
                                            {% endfor %}
                                           
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Top Providers</h2>
                                        <a href="user-providers.html" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="table-responsive datatable-nofooter">
                                        <table class="table datatable ">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Provider Name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in accounts %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{{user.profile.profile_photo.url}}" class="me-2" alt="img">
                                                            <span>{{user.full_name}}</span>
                                                        </a>
                                                    </td>
                                                    <td>{{user.email}}</td>
                                                    <td>{{user.phone_number|default:""}}</td>
                                                </tr>
                                                {% endfor %}
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Top Countries</h2>
                                        <div class="home-select">
                                            <div class="dropdown">
                                                <button class="btn btn-action btn-sm dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                                                    Monthly
                                                </button>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                                    </li>												
                                                </ul>
                                            </div>
                                            <div class="dropdown">
                                                <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chartgraph">
                                        <div class="row align-items-center">
                                            <div class="col-lg-7">
                                                <div id="world_map" style="height: 150px"></div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="bookingmap">
                                                    <ul>
                                                        <li>
                                                            <span><img src="{% static 'admin/assets/img/flags/us.png' %}" alt="img" class="me-2">United State</span>
                                                            <h6>60%</h6>
                                                        </li>
                                                        <li>
                                                            <span><img src="{% static 'admin/assets/img/flags/in.png' %}" alt="img" class="me-2">India</span>
                                                            <h6>80%</h6>
                                                        </li>
                                                        <li>
                                                            <span><img src="{% static 'admin/assets/img/flags/ca.png' %}" alt="img" class="me-2">Canada</span>
                                                            <h6>50%</h6>
                                                        </li>
                                                        <li>
                                                            <span><img src="{% static 'admin/assets/img/flags/au.png' %}" alt="img" class="me-2">Australia</span>
                                                            <h6>75%</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Booking Statistics</h2>
                                        <a href="#" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="chartgraph">
                                        <div class="row align-items-center">
                                            <div class="col-lg-7 col-sm-6">
                                                <div id="chart-bar"></div>
                                            </div>
                                            <div class="col-lg-5 col-sm-6">
                                                <div class="bookingstatus">
                                                    <ul>
                                                        <li>
                                                            <span></span>
                                                            <h6>Completed</h6>
                                                        </li>
                                                        <li class="process-status">
                                                            <span></span>
                                                            <h6>Process</h6>
                                                        </li>
                                                        <li class="process-pending">
                                                            <span></span>
                                                            <h6>Pending</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

 

{% endblock %}