<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Listee | Template</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/img/favicon.png">
	
	<!-- Select 2 -->
    <link rel="stylesheet" href="assets/css/select2.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="assets/plugins/feather/feather.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
	<div class="main-wrapper">
        <div class="change-activity">
            <div class="change-passwordback">
                <a href="security.html"><i class="fe fe-arrow-left me-2"></i>Back to Dashboard </a>
            </div>
            <div class="change-activity-head">
                <h6>Login Activity</h6>
                <div class="sort-div">
                    <div class="review-sort me-2">
                        <p>Sort</p>
                        <select class="select">
                            <option>A -> Z</option>
                            <option>Most helful</option>
                        </select>
                    </div>
                    <div class="drop-collapse">
                        <a href="javascript:void(0);" class="btn-filters">
                            <img src="assets/img/icons/filter.svg" alt="img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-resposnive table-bottom">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Device</th>
                                    <th>IP Address</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>22 Sep 2022, 11:40:30</td>
                                    <td>Chrome - Windows</td>
                                    <td>232.222.12.72 </td>
                                    <td>Chennai / India</td>
                                    <td><h6 class="success-labels">Connect</h6></td>
                                </tr>
                                <tr>
                                    <td>21 Sep 2022, 13:10:50</td>
                                    <td>Safari Macos</td>
                                    <td>224.111.12.75</td>
                                    <td>Newyork / USA</td>
                                    <td><h6 class="success-labels">Connect</h6></td>
                                </tr>
                                <tr>
                                    <td>20 Sep 2022, 14:16:10</td>
                                    <td>Firefox Windows</td>
                                    <td>111.222.13.28</td>
                                    <td>Newyork / USA</td>
                                    <td><h6 class="success-labels">Connect</h6></td>
                                </tr>
                                <tr>
                                    <td>19 Sep 2022, 10:20:20</td>
                                    <td>Safari Macos</td>
                                    <td>333.555.10.54</td>
                                    <td>Newyork / USA</td>
                                    <td><h6 class="success-labels">Connect</h6></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.4.min.js"></script>
	
	<!-- Select 2 JS-->
    <script src="assets/js/select2.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Tagsinput JS -->
    <script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

	<!-- Feather Icon JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	 <!-- Sweetalert 2 -->
    <script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/admin.js"></script>

</body>

</html>